{% if products %}
    <a class="present shoppingbag j-shoppingbag" href="{{ cart }}" title="Shopping Bag"> <span class="iconfont">  </span> <span class="bag-count" id="cart_items"> <b id="carts_quantity">{{ text_items }}</b> </span> </a>
            <div id="attr_shopcart" class="c-headsb hd-cart-bag">
                <div class="attribute_cart shopcart-cart">
                  <div class="shopcart-top">
                    <form >
                      <div style="width: auto;">
                        <div id="shop-cart-scroll" style=" height:300px; overflow-y: scroll; overflow-x: hidden;">
                          {#<input id="update_shopping_price_type" name="update_shopping_price_type" value="shopping_cart" type="hidden" />#}
                        {% for product in products %}
                          <div class="shopping-product">
                            <div class="cart_error" style="display: none;" goods_id_value="_396259"></div>
                            <div class=" shoppingtop-img">
                                {% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}
                            </div>
                            <div class="shoppingtop-right">
                              <div class=" discount_goods_price_396259 basket-cont shoppingtop-basket">
                                <span class="shop-index-price shop_price" price="US$15.00"><strong class="final_price_strong">{{ product.total }}</strong></span>
                              </div>
                              <div class="shoppingtop-name">
                                <a href="{{ product.href }}" target="_top"><span class="goods-brand"></span>{{ product.name }}</a>
                              </div>
                              {#<span class="she-dispatch"><i class="iconfont"></i>Priority dispatching</span>#}
                              {#<a class="share_button_on share_button_396259" href="javascript:void(0);" onclick="show_facebook_div('396259')"></a>#}
                              {#<div class="share_wenzi_396259 share_header_explain">#}
                                {#<strong>(5%off)</strong>#}
                              {#</div>#}
                              <div class="attribute-shopcart">
                                <a class="shop-remove-a iconfont" href="javascript:void(0)" onclick="cart.remove('{{ product.cart_id }}');"></a>
                              </div>
                              <div class="j-attr-goods shop-input" style="left: 0px; position: relative;">
                                <div class=" inbasket-quantity">
                                  <input name="goods_arr[]" value="396259" type="hidden" />
                                  <input name="goods_name[]" value="Grommet Lace Up Sleeve Crop Hoodie" type="hidden" />
                                  <input name="is_on_sale[]" value="1" type="hidden" />
                                  <div class="red display-none" id="381926375j-limit-tip"></div>
                                  <a class="reduce iconfont j-reduce-381926375 disable" onclick="des({{ product.cart_id }})" href="javascript:void(0)"></a>

                                  <input class="quantityselect-bg" name="" id="" value="{{ product.quantity }}" type="text"/>

                                  <a class="j-cart-add add iconfont" onclick="asc({{ product.cart_id }})" href="javascript:void(0)"></a>
                                </div>
                                <div class="attr_basket_cont4 attr-basket-cont4" style="top: 0px;">
                                  <div class="attr_inbasket_total">
                                    <span class="shop-total-label">Total:</span>
                                    <span class="shoppingtop-span">
                    <div id="subtotal_381926375" class="item_total">
                     {{ product.total }}
                    </div></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div></div>
                        {% endfor %}
                        </div>
                     {% set first = totals|first %}
                        {#<p class="attr-total" id="attr_retail_price" style="padding-top: 10px;">Retail Price:<a id="shipping_retail_price">{{ first.text }}</a></p>#}
                        {#<p class="attr-total" id="attr_retail_price_discount" style="display: none;"><span>Discount<a>0</a>off</span></p>#}
                        <p class="attr-total" id="attr_total" style="font-weight: bold;"><span class="shipping-total-label">Total:</span><span class="shipping-total" style="color: rgb(209, 0, 0);" id="shipping_total">{{ first.text }}</span></p>
                        <div class="shoppingtop-baskets">
                          <input class="she-btn-black she-btn-l viewbag" name="viewcart" value="view bag" type="submit" />
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <img src="/catalog/view/theme/default/image/index/js_grey.gif" style="display: block;" />
            </div>
{% else %}
    <a class="present shoppingbag j-shoppingbag" href="{{ cart }}" title="Shopping Bag"> <span class="iconfont">  </span> <span class="bag-count" id="cart_items"> <b id="carts_quantity"></b> </span> </a>
    <div id="attr_shopcart" class="c-headsb hd-cart-bag" style="height: 0px; display: none; opacity: 0;">
    <div class="basket_empty">
    <em></em>Shopping Bag is Empty
    </div>
    </div>
{% endif %}
