{% if currencies|length > 1 %}
<div class="pull-left">
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency">
    <div class="btn-group currency" id="user_menu3">
      <a class="btn btn-link dropdown-toggle present three outer j-present-currency" data-toggle="dropdown" style="padding-bottom: 50px">{% for currency in currencies %}
      {% if currency.symbol_left and currency.code == code %} <span  style=" color: #666;text-decoration: none;font-size: 12px;">{{ currency.title }}</span> {% elseif currency.symbol_right and currency.code == code %} <span  style=" color: #666;text-decoration: none;font-size: 12px;">{{ currency.title }}</span> {% endif %}
      {% endfor %} </a>
      <div class="dropdown user_menu3_update" id="user_menu3_coon" style="width: auto;padding: 0;top: 55px;">
        {% for currency in currencies %}
        {% if currency.symbol_left %}
        <a>
          <button class="currency-select btn btn-link btn-block" type="button" name="{{ currency.code }}" style="color: #666;text-decoration: none;font-size: 12px;line-height: 5px;text-align: left"><img src="/catalog/view/theme/default/image/flag/flag_us.gif" style="width: 16px;height: 12px;margin-right: 10px;margin-top: -2px;"> {{ currency.title }}</button>
        </a>
        {% else %}
        <a>
          <button class="currency-select btn btn-link btn-block" type="button" name="{{ currency.code }}"  style="color: #666;text-decoration: none;font-size: 12px;line-height: 5px"><img src="/catalog/view/theme/default/image/flag/flag_us.gif" style="width: 16px;height: 12px;margin-right: 10px;margin-top: -2px;"> {{ currency.title }}</button>
        </a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>
</div>
{% endif %} 