<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <title>{{ title }}</title>
  <script language="javascript">
      var seckill_arr = [];
      var js_site_from = 'www';
  </script>
  <link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
  <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

  <link media="all" href="catalog/view/theme/default/css/index.css" type="text/css" rel="stylesheet" />
  <link media="all" href="catalog/view/theme/default/css/home.css" type="text/css" rel="stylesheet" />
  <link media="all" href="catalog/view/theme/default/css/login.css" type="text/css" rel="stylesheet" />
  <link media="all" href="catalog/view/theme/default/css/forget.css" type="text/css" rel="stylesheet" />
  <link media="all" href="catalog/view/theme/default/css/detail.css" type="text/css" rel="stylesheet" />
  <link media="all" href="catalog/view/theme/default/css/cart.css" type="text/css" rel="stylesheet" />
  <link media="all" href="catalog/view/theme/default/css/cart_empty.css" type="text/css" rel="stylesheet" />
  <link media="all" href="catalog/view/theme/default/css/checkout.css" type="text/css" rel="stylesheet" />
  <link media="all" href="catalog/view/theme/default/css/account.css" type="text/css" rel="stylesheet">
  <link media="all" href="catalog/view/theme/default/css/password.css" type="text/css" rel="stylesheet">
  <link media="all" href="catalog/view/theme/default/css/myorder.css" type="text/css" rel="stylesheet">
  <link media="all" href="catalog/view/theme/default/css/address.css" type="text/css" rel="stylesheet">
  <link media="all" href="catalog/view/theme/default/css/reward.css" type="text/css" rel="stylesheet">

  <link media="all" href="catalog/view/theme/default/css/wishlist.css" type="text/css" rel="stylesheet">
  <link media="all" href="catalog/view/theme/default/css/transation.css" type="text/css" rel="stylesheet">
  <link media="all" href="catalog/view/theme/default/css/edit.css" type="text/css" rel="stylesheet">
  <link media="all" href="catalog/view/theme/default/css/category.css" type="text/css" rel="stylesheet">
  <link media="all" href="catalog/view/theme/default/css/goods-db2c456a45.css" type="text/css" rel="stylesheet">
  <link media="all" href="catalog/view/theme/default/css/ticket.css" type="text/css" rel="stylesheet">

  <link media="all" href="/catalog/view/theme/default/css/orderdetails.css" type="text/css" rel="stylesheet">
  {#<link media="all" href="catalog/view/theme/javascript/common.js" type="text/js" rel="stylesheet">#}
  <script src="/catalog/view/theme/default/js/jquery-new.mins.js" type="text/javascript"></script>
  {#<script src="/catalog/view/javascript/common.js" type="text/javascript"></script>#}
  <link media="all" href="catalog/view/theme/default/css/orderdetails.css" type="text/css" rel="stylesheet">

  <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
  <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="catalog/view/javascript/layer/layer.js" type="text/javascript"></script>
  <script src="catalog/view/javascript/common.js" type="text/javascript"></script>
</head>
<body>
<div class="header_common">

  <div class="c-header">
    <div class="header-wrap">
      <div class="container-fluid mar-b-0">
        <div class="row">
          <div class="left col-xs-5">
            <div style="margin-top: -10%;">
              {{ language }}
            </div>

            <div class="currency" id="user_menu3">
                {{ currency }}
            </div>
            <div class="switch">
              <ul class="hd-swicth" id="user_banner">
                <li class="hd-ban-li animated flipInX" style="opacity: 1; display: table-cell;"><a href=""> <strong>Free shipping</strong> on orders over US$50</a></li>
              </ul>
            </div>
          </div>
          <div class="logo-wrap col-xs-2">
            <a class="shelogo" href=""><i class="iconfont"></i></a>
          </div>
          <script type="text/javascript">$(function(){$('#my_profile').hover(function(){$('.j-user-profile').show();},function(){$('.j-user-profile').hide();})})</script>
          <div class="right col-xs-5">
            {% if logged %}
            <div class="sign" id="my_profile">
              <a class="present j-login-present" href="/catalog/account/login" style="text-transform: none;"> <span class="j-login-username">wangjunchao</span><b></b> </a>
              <div class="dropdown user-profile-hidd j-user-profile" style="display: none;">
                <a href="{{ account }}">{{ text_account }}</a>
                <a href="{{ order }}">{{ text_order }}</a>
                <a href="{{ transaction }}">{{ text_transaction }}</a>
                {#<a href="">My Wishlist</a>#}
                {#<a href="">My Address Book</a>#}
                {#<a href="">Style Gallery</a>#}
                {#<a href="">Free Trial Report</a>#}
                {#<a href="">Bonus Point Program</a>#}
                <a href="{{ logout }}">{{ text_logout }}</a>
              </div>
            </div>
            {% else %}
              <div class="sign" id="my_profile">
                <a class="present j-login-present" href="{{ login }}" style="text-transform: none;"> <span class="j-login-username">Sign in/Register</span><b></b> </a>
              </div>
            {% endif %}
            <div class="online-help" id="livechat">
              <a class="present j-online-help-icon" href="javascript:void(0);">Online Help</a>
              <div class="dropdown j-livechat-con" style="display: none;">
                <div class="pre-help">
                  <h6 class="help-title">Pre-sales</h6>
                  <p class="help-desc">If you have any questions before making a purchase, chat with our online operaters to get more information.</p>
                  <div id="chat">
                    <div class="she-btn-black she-btn-s hd-zendesk" onclick="showPreRobot();" style="color: rgb(255, 255, 255);">
                      <i class="iconfont"></i> Online Help
                    </div>
                  </div>
                </div>
                <div class="after-help">
                  <h6 class="help-title">After-sales</h6>
                  <p class="help-desc">If you need any help about the after-sales issues, please submit a ticket.</p>
                  <a class="she-btn-black she-btn-s ga-tk-top-submit-ticket" href="">Submit a ticket</a>
                </div>
              </div>
              <script type="text/javascript">$(function(){ $('#livechat').hover(function(){$('.j-livechat-con').show();},function(){$('.j-livechat-con').hide();})})</script>
            </div>
            <div class="search-wrap">
              <form action="javascript:void(0);" style="position: relative;">
                <div class="serch-suggest" id="serchSuggest" style="display: none;">
                  <ul></ul>
                </div>
                <input class="txt she-input-txt" id="searchKeyword" value="Search SHEIN" name="searchKeyword" autocomplete="off" type="text" />
                <a class="present iconfont" id="search_ico" href="javascript:void(0)" title="Search" aria-hidden="true">  </a>
              </form>
            </div>
            <script type="text/javascript" src="do_search.js"></script>
            <div class="wish-com" title="My Wishlist">
              <a class="j-wish" href="{{ wishlist }}"> <span class="iconfont"></span> </a>
              <span class="wish-num j-wish-num"></span>
            </div>
            <div class="bag" id="logo_rightyy">
              <a class="present shoppingbag j-shoppingbag" href="{{ shopping_cart }}" title="Shopping Bag"> <span class="iconfont">  </span> <span class="bag-count" id="cart_items"> <b id="carts_quantity"></b> </span> </a>
              {{ cart }}
            </div>
           <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" data-id="ga_nav">

    var GB_ga_nav = {
        ga_timer: 0,
        ga_click_search: function () {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'ClickSearch'
                });
            }
        },
        ga_edit_search: function () {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'EditSearch'
                });
            }
        },
        ga_cancel_search: function () {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'CancleSearch'
                });
            }
        },
        ga_goto_search: function (val) {
            if(GB_ga_nav.ga_timer) return;
            GB_ga_nav.ga_timer = 1;
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'GoToResult',
                    eventLabel: val
                });
            }
            setTimeout(function() {
                GB_ga_nav.ga_timer = 0;
            }, 1000)
        },
        ga_language: function (val) {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'SelectLanguage',
                    eventLabel: val
                });
            }
        },
        ga_currency: function (val) {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'SelectCurrency',
                    eventLabel: val
                });
            }
        },
        ga_shippingInfo: function (val) {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'ClickShippingInfo',
                    eventLabel: val
                });
            }
        },
        ga_logo: function (val) {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'ClickSheinLogo',
                    eventLabel: val
                });
            }
        },
        ga_account_nologin: function (val) {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'Sign in/Register',
                    eventLabel: val
                });
            }
        },
        ga_account_login: function (val) {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'My Account',
                    eventLabel: val
                });
            }
        },
        ga_online_service: function () {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'ClickOnlineService'
                });
            }
        },
        ga_online_aticket: function () {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'ClickSubmitATicket'
                });
            }
        },
        ga_click_wishlist: function () {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'ClickWishlist'
                });
            }
        },
        ga_click_bag: function () {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'ClickBag'
                });
            }
        },
        ga_click_category: function (val) {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'SelectCategory',
                    eventLabel: val
                });
            }
        },
        ga_online_service: function () {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'ClickOnlineHelp'
                });
            }
        },
    }

    // ClickSubmitATicket
    $(".ga-tk-top-submit-ticket").click(function () {
        GB_ga_nav.ga_online_aticket()
    })
    // ClickOnlineHelp
    $(".online-help").on('click', '.hd-zendesk', function () {
        GB_ga_nav.ga_online_service()
    })


    function GB_isMobile(){
        return navigator.userAgent.toLowerCase().match(/phone|pad|pod|iphone|ipod|ios|ipad|android/);
    }


</script>
<script language="javascript">function bindLangEvent(){$("#switch_lang").hover(function(e){$("#lang_list").show()},function(e){$("#lang_list").hide()})}bindLangEvent();if(js_site_from=='uk'){$('#search_ico').bind(GB_isMobile()?"touchend":"click",function(e){GB_ga_nav.ga_click_search();$('#newSearch').css({'display':'inline-block'});$(this).hide();$('#livechat').hide();$('#my_profile').hide();e.stopPropagation()})}else{$('#search_ico').bind(GB_isMobile()?"touchend":"click",function(e){GB_ga_nav.ga_click_search();$('#searchKeyword').show();$(this).hide();$('#livechat').hide();$('#my_profile').hide();e.stopPropagation()})}if(js_site_from=='uk'){$(document.body).bind(GB_isMobile()?"touchend":"click",function(e){if(e.target!=$('#searchKeyword')[0]){$('#searchKeyword').blur();$('#newSearch').hide();$('#search_ico').show();$('#livechat').show();$('#my_profile').show()}})}else{$(document.body).bind(GB_isMobile()?"touchend":"click",function(e){if(e.target!=$('#searchKeyword')[0]){$('#searchKeyword').blur();$('#searchKeyword').hide();$('#search_ico').show();$('#livechat').show();$('#my_profile').show()}})}$("#user_menu3").hover(function(){$("#user_menu3_coon").show();$("#user_menu3_coon").addClass("link_now")},function(){$("#user_menu3_coon").hide();$("#user_menu3_coon").removeClass("link_now")});</script>

<script type="text/javascript">

    $("#logo_rightyy").mouseenter(function(){
        if ('' != 1){
            $("#attr_shopcart").stop(true);
            var currentHeight = $("#attr_shopcart").height();
            $("#attr_shopcart").css('height', 'auto');
            var animateHeight = $("#attr_shopcart").height();
            $("#attr_shopcart").css('height', currentHeight);
            $("#attr_shopcart").animate({
                height: animateHeight,
                paddingTop: "show",
                paddingBottom: "show",
                marginTop: "show",
                marginBottom: "show",
                opacity: '1'
            }, 200);
        }
    }).mouseleave(function(){
        $("#attr_shopcart").stop(true);
        $("#attr_shopcart").animate({
            height: 0,
            paddingTop: "hide",
            paddingBottom: "hide",
            marginTop: "hide",
            marginBottom: "hide",
            opacity: '0'
        }, 200);
    });


</script>
<script>
    function des(id) {
        console.log($('#'+id).val());
        $('#'+id).val(parseInt($('#'+id).val())-1);
        $('#car').submit();
    }
    function asc(id) {
        console.log($('#'+id).val());
        $('#'+id).val(parseInt($('#'+id).val())+1);
        $('#car').submit();
    }
</script>
{{ menu }}