{{ header }}
    {{ column_left }}
    <div class="she-center col-sm-9 col-xs-12 peracc">
      <h3 class="she-tl-h3">{{ text_my_account }}</h3>
      <div class="list-wrap">
        <ul>
          <li class="list-item">
            <div class=" col-xs-6 peracc-left">
              <div class="con-left">
                <div class="con-left-h">
                  <h4>Hello, <span>16958398</span></h4>
                </div>
                <div class="con-left-p">
                  <p style="margin: 0px;">
                    <span>
                       You have <strong>100</strong> SheIn Points now, which can be used in your next purchase.
                    </span>
                  </p><p style="margin: 0px;">Want to be a <strong style="color: rgb(0, 0, 0);">VIP</strong>? <a style="color: rgb(0, 0, 0); text-decoration: underline;" href="#">Join new SheIn Membership</a> to get <strong> FREE coupons</strong> !</p>
                  <p></p>
                </div>
              </div>
            </div>
            <div class="col-xs-6 peracc-right">
              <div class="con-right">
                <fieldset>
                  <legend style="padding-left: 1px; text-align: center;">
                    <p style="left: 208px;"><i class="iconfont notice-icon" style="margin-right: 10px; font-size: 17px;"></i>I want to spend my points!</p>
                  </legend>
                  <div class="con-right-p">
                    <ol>
                      <li class="center-fir">
                        Use in your purchase, <a href="index.php">SHOP NOW </a>&gt;
                      </li>
                      <!--  暂时废弃
                          <li>2. Use 10 points exchanges discounts, <a href='http://www.shein.com/in-it-to-win-it.html?icn=inittowinit&ici=www_myaccount&url_from=wwwinittowinitrightlink'>right here </a>></li>
                      -->
                    </ol>
                  </div>
                </fieldset>
              </div>
            </div>
          </li>
          <li class="list-item">
            <div class=" col-xs-6 peracc-left">
              <div class="title">
                <h5 class="item-title"><a href="{{ edit }}"> {{ text_edit }}</a></h5>
              </div>
              <div class="conter">
                <p class="item-p">Update your email address and we’ll serve you better in the future with personal shopping assistance.</p>
              </div>
            </div>
            <div class="col-xs-6 peracc-right">
              <div class="title">
                <h5 class="item-title"><a href="{{ order }}">{{ text_order }}</a></h5>
              </div>
              <div class="conter">
                <p class="item-p">What you bought are all here, you can check them at anytime.</p>
              </div>
            </div>
          </li>
          <li class="list-item">
            <div class=" col-xs-6 peracc-left">
              <div class="title">
                <h5 class="item-title"><a href="{{ address }}">{{ text_address }}</a></h5>
              </div>
              <div class="conter">
                <p class="item-p">Create and store shipping addresses for easy access any time you're signed in at SheIn.com.</p>
              </div>
            </div>
            <div class="col-xs-6 peracc-right">
              <div class="title">
                <h5 class="item-title"><a href="{{ password }}">{{ text_password }}</a></h5>
              </div>
              <div class="conter">
                <p class="item-p">To keep your account safe that you can edit your password, make it easy to be remembered! We recommend you do it and it won’t  take you long.</p>
              </div>
            </div>
          </li>
          <li class="list-item">
            <div class=" col-xs-6 peracc-left">
              <div class="title">
                <h5 class="item-title"><a href="{{ return }}">{{ text_return }}</a></h5>
              </div>
              <div class="conter">
                <p class="item-p">Upload and share your looks with millions of SheIners.</p>
              </div>
            </div>
            <div class="col-xs-6 peracc-right">
              <div class="title">
                <h5 class="item-title"><a href="{{ transaction }}">{{ text_transaction }}</a></h5>
              </div>
              <div class="conter">
                <p class="item-p">Upload your free trial expericence.</p>
              </div>
            </div>
          </li>
          <li class="list-item">
            <div class=" col-xs-6 peracc-left">
              <div class="title">
                <h5 class="item-title"><a href="{{ wishlist }}">{{ text_wishlist }}</a></h5>
              </div>
              <div class="conter">
                <p class="item-p">Keep tracking of what you want.</p>
              </div>
            </div>
            <div class="col-xs-6 peracc-right">
              <div class="title">
                <h5 class="item-title"><a href="{{ reward }}">{{ text_reward }}</a></h5>
              </div>
              <div class="conter">
                <p class="item-p">Share links to earn SheIn bonus points<br>
                  <a href="#">click here to learn more.</a>
                </p>
              </div>
            </div>
          </li>
        </ul>
        <div class="con-foot">
          <div style="text-align: center;">
            <a class="she-btn-white j-member-accout-signout" href="{{ logout }}">Sign out</a>
          </div>
          <div class="con-foot-p">
            <p style="margin-top: 10px;">It’s better to sign out after you finish your shopping so that you could make sure that your account safe.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
