{{ header }}
    {{ column_left }}
    <div class="col-sm-9 col-xs-12 macc-address j-macc-address">
      <h3 class="she-tl-h3">My Address Book</h3>
      <div style="margin-top: 60px;">
        <a class="add-address-btn j-add-address" href="{{ add }}">+ Add New Address</a>
      </div>
      <ul class="address-list j-address-list row">
          {% for result in addresses %}
            <li class="col-md-6 col-xs-6">
              <div class="address-item default-item j-address-item j-address-12687904" data-addressid="12687904">
                {#<p class="name">Ms.&nbsp;&nbsp;jin&nbsp;&nbsp;&nbsp;&nbsp;tieshan&nbsp;&nbsp;<span class="default">default Address</span></p>#}
                {#<p> 艾斯德斯多 </p>#}
                {#<p> adADC </p>#}
                {#<p>ddd&nbsp;&nbsp;AUSTRALIAN CAPITAL TERRITORY&nbsp;&nbsp;2600</p>#}
                <p>{{ result.address }}</p>
                {#<p>1233444&nbsp;&nbsp;</p>#}
                <div class="operate">
                  {#<a href="javascript:;" class="set-default-address j-default-address">make default</a>#}
                  <a href="{{ result.delete }}" class="j-delete-address">Delete</a>
                  <a href="{{ result.update }}" class="edit-address j-edit-address" title="Edit">Edit</a>
                </div>
              </div>
            </li>
              {#{{ result.address }}#}
          {% endfor %}
      </ul>
    </div>
    <div class="adr-mask" style="display: none;"></div>
</div>
{{ footer }}

<script>
    $(function () {
        $('.j-member-address').addClass('area');
    });
</script>
