{{ header }}
   {{ column_left_user }}
    <div class="she-center col-sm-9 col-xs-12 per-setting">
      <h3 class="she-tl-h3">{{ heading_title }}</h3>
      <div class="info-line_sucess" id="info-line_sucessid1" style="display: none;">
        <p class="info-line_sucess_font pa"><em class="pic_warm"></em>We only resend three times per day, please verify tomorrow.</p>
        <div class="info-line_sucess_left">
          <img src="tunoff_v0404eb0.png" alt="" />
        </div>
      </div>
      <div class="info-line_sucess" id="info-line_sucessid2" style="display: none;">
        <p class="info-line_sucess_font pa"><em class="pic_right"></em>The confirmation email has been sent to you.</p>
        <div class="info-line_sucess_left">
          <img src="tunoff_v0404eb0.png" alt="" />
        </div>
      </div>
      <div class="info-line_sucess" id="info-line_sucessid3" style="display: none;">
        <p class="info-line_sucess_font pa"><em class="pic_warm"></em>The confirmation email can only be sent once per minute.</p>
        <div class="info-line_sucess_left">
          <img src="tunoff_v0404eb0.png" alt="" />
        </div>
      </div>
      <div class="post_accset">
        <div class="post_accset_color"></div>
        <div class="post_accset_font">
          <h1>Mail sent</h1>
          <p id="post_accset_font_p"></p>
          <div class="off">
            OK
          </div>
          <div class="turnoff">
            x
          </div>
        </div>
      </div>
      <div class="col-sm-3  col-xs-3 account-setting-upload">
        <div class="email-help-tip">
          <span class="triangle"></span>
          <ul class="email-help-list">
            <li style="margin-top: 14px;">Why do we need verified email address?</li>
            <li> <span style="font-weight: 500; color: rgb(209, 0, 0);">100 Points</span> and<span style="font-weight: 500; color: rgb(209, 0, 0);"> US$3 off</span> coupon wil be in your pocket. </li>
            <li style="margin-top: 3px;">Be the first to know about latest SALE, special events.</li>
            <li class="member_info_content_li" style="margin-top: 0px;">Participate in SheIn exclusive activities and giveaways.</li>
            <li>Be able to check my order status and shipping information.</li>
            <li>Your account will be more secure, you can shop and save with more reliable payment .</li>
          </ul>
        </div>
        <div class="imagebox" id="personal-img">
          <div style="text-align: center;">
            <img src="/catalog/view/theme/default/image/edit/default_avatar.png" style="width: 100%; height: 100%;" />
          </div>
        </div>
        <div style="text-align: center; padding-top: 16.4px;">
          <button class="show-upload she-btn-white she-btn-s" data-toggle="modal" data-target="#myModal">Upload a Photo</button>
        </div>
      </div>
      <div class="col-sm-8 col-xs-8 account-setting-info">
        <form class="formlist" name="theForm" action="{{ action }}" method="post" enctype="multipart/form-data">
          <div class="form-group" style="margin-top: 0px;">
            <label for="inputemail" class="labeltext">{{ entry_email }}:<i>*</i></label>
            <div class="input-group verify" style="width: 100%;">
              <input name="email" class="form-control inputtext" id="email" value="{{ email }}" style="height: 36px;" placeholder="{{ entry_email }}" type="text" />
                {% if error_email %}
                  <div class="text-danger" style="color: red">{{ error_email }}</div>
                {% endif %}
            </div>
            {#<span class="verified" id="vetify_status">&nbsp;<em class="pic_sucess"></em> Verified</span>#}
            <div class="form-group">
              <label for="inputname" class="labeltext">{{ entry_fullname }}:<i>*</i></label>
              <input name="fullname" class="form-control inputtext" id="inputname" placeholder="{{ entry_fullname }}" value="{{ fullname }}" style="height: 36px;" maxlength="10" type="text" />
                {% if error_fullname %}
                  <div class="text-danger" style="color: red">{{ error_fullname }}</div>
                {% endif %}
            </div>
            <div class="form-group">
              <label for="inputphone" class="labeltext">{{ entry_telephone }}:<i>*</i></label>
              <input name="telephone" class="form-control" id="inputphone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" style="height: 36px;" type="text" />
                {% if error_telephone %}
                  <div class="text-danger" style="color: red">{{ error_telephone }}</div>
                {% endif %}
            </div>
            <div class="form-group update-btn ">
              {#<span class="submit-tip" style="display: inline-block; margin-bottom: 0.1rem;">Gain 100 SHEIN points by completing personal info</span>#}
              <div style="margin: 40px 0 0 42%;">
                <input class="redeem-btn she-btn-black" style="background-color: rgb(204, 204, 204); border: medium none;" value="{{ button_submit }}" type="submit" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}

<script>
    $(function () {
        $('.j-member-edit').addClass('area');
    });
</script>
