{{ header }}

<div class="container" style="margin-top: 64px;">
  <div class="row main-login-bg">
    <!--  -->
    <div class="col-sm-2 login-con"></div>
    <div class="col-sm-3 login-con">
      <div class="sign-in">
        <div class="sign-in-title">
          <h2>{{ text_sign }}</h2>
        </div>
        <div class="sign-in-detail">
          <p class="login-prompt" id="login_error"></p>
          <div class="list-input">
            <form name="theForm" method="post" class="j-login-form" action="">
              <div class="list-item">
                <div class="item-title">
                  <span class="undone">{{ entry_customer }}:</span>
                </div>
                <ul style="position: absolute; margin-top: 36px; min-width: 271px; visibility: hidden; z-index: 11;" class="emailist"></ul>
                  {% if error_warning %}
                    <input class="inputMailList" name="email" value="" style="border-color:red;" required id="returning_email" type="text" />
                    <div class="input-error-txt" style="color:red;">{{ error_login }}</div>
                      {#<p class="login-title-p"> <font id="login_password_tip"></font> </p>#}
                  {% else %}
                    <input class="inputMailList" name="email" value="" required id="returning_email" type="text" />
                  {% endif %}
                <p class="login-title-p"> <font id="login_address_tip"></font> </p>
              </div>
              <div class="list-item">
                <div class="item-title">
                  <span class="undone">{{ entry_password }}:</span>
                </div>
                {% if error_warning %}
                <input name="password" value="" id="returning_password" required style="border-color:red;" type="password" />
                <div class="input-error-txt" style="color:red;">{{ error_passwords }}</div>
                {#<p class="login-title-p"> <font id="login_password_tip"></font> </p>#}
                {% else %}
                  <input name="password" value="" id="returning_password" required type="password" />
                {% endif %}
              </div>
              <div class="sign-in-btn sign-in-lt">
                <input name="return" type="hidden" />
                <input name="return_log" id="return_log" value="http%3A%2F%2Fwww.shein.com%2F" type="hidden" />
                <div class="g-recaptcha" data-sitekey="6LcoBR4UAAAAAIi5xU3U_q37C3nFaSckeMaT-P5j" style="display: none;"></div>
                <p class="login-recaptcha-prompt" id="recaptcha_error"></p>
                <button class="she-btn-black she-btn-l j-signin-loading" disabled="" style="display: none;">
                  <div class="la-ball-pulse la-ball-pulse-white">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div> </button>
                <input class="submit-button she-btn-black she-btn-l j-signin-submit" name="submit" value="{{ text_sign }}" type="submit" />
                <p> <a class="forget-sign-in" href="{{ forgotten }}">{{ text_forgotten }}</a> </p>
              </div>
              {#<div class="sign-in-con-divide">#}
                {#<span>Or</span>#}
              {#</div>#}
              {#<div class="sign-in-facebook">#}
                {#<div class="facebook-lodin">#}
                  {#<a class="she-btn-black she-btn-l" href="javascript:fbLoginBegin('login');"><i class="iconfont facebook-icon"></i>Sign in With Facebook</a>#}

                {#</div>#}
                {#<div style="margin-top: 16px;">#}
                  {#<span class="facebook_title"> <strong>US$3 off</strong> for the first order <em>Review&amp;earn extra <strong style="display: none;">5</strong> <strong>100</strong> points</em> </span>#}
                {#</div>#}
              {#</div>#}
            </form>
          </div>
        </div>
        <br class="clear" />
      </div>
    </div>
    <div class="col-sm-1 sign-in-rightborder login-con"></div>
    <div class="col-sm-1 login-con"></div>
    <div class="col-sm-3 login-con">
      <div class="new-toshein">
        <div class="sign-in-title">
          <h2>{{ text_new_customer }}</h2>
        </div>
        <div class="sign-in-detail">
          <div class="list-input">
            <form action="{{ register }}" id="check-register" name="theForm_1" method="post">
              <p id="register_forbiden" class="register_more_title" style="display: none; text-align: left;">We're so sorry to inform you that your IP is limited to register more . For further help, please <a onclick="showPreRobot()" style="color: rgb(0, 0, 255);" href="javascript:vold(0)">contact us</a> !</p>
              <div class="list-item">
                <div class="item-title">
                  <span class="undone">{{ entry_fullname }}:</span>
                </div>
                <ul style="position: absolute; margin-top: 36px; min-width: 271px; visibility: hidden; z-index: 11;" class="emailist"></ul>

                  {% if error_fullname_x %}
                    <input class="inputMailList-one" name="fullname" value="" maxlength="32" required id="fullname" style="border-color: red;" type="text" />
                    <div class="input-error-txt" style="color:red;">{{ error_fullname }}</div>
                  {% else %}
                    <input class="inputMailList-one" name="fullname" value="" maxlength="32" required id="fullname" type="text" />
                  {% endif %}
              </div>
              <div class="list-item">
                <div class="item-title">
                  <span class="undone">{{ entry_phone }}:</span>
                </div>
                <ul style="position: absolute; margin-top: 36px; min-width: 271px; visibility: hidden; z-index: 11;" class="emailist"></ul>
                  {% if error_telephone_x %}
                    <input class="inputMailList-one" name="telephone" value="" size="11"  required id="telephone" type="text" style="border-color: red;" />
                    <div class="" style="color:red;">{{ error_exists_telephone }}</div>
                  {% else %}
                    <input class="inputMailList-one" name="telephone" value="" size="11"  required id="telephone" type="text" "/>
                  {% endif %}
              </div>
              <div class="list-item">
                <div class="item-title">
                  <span class="undone">{{ entry_email }}:</span>
                </div>

                {#<p class="login-title-p"> <font id="error_confirm_password"></font> </p>#}
                  {% if error_email_x %}
                    <input name="email" size="21" maxlength="40" id="email"  required type="email" style="border-color: red;"/>
                    <div class="input-error-txt" style="color: red;">{{ error_exists_email }}</div>
                  {% else %}
                    <input name="email" size="21" maxlength="40" id="email"  required type="email" />
                  {% endif %}
              </div>
              <div class="list-item">
                <div class="item-title">
                  <span class="undone">{{ entry_password }}::</span>
                </div>

                {#<p class="login-title-p"> <font id="error_password"></font> </p>#}
                  {% if error_password_x %}
                    <input name="password" size="" maxlength="32" id="password" required style="border-color: red;" onkeyup="this.value=this.value.replace(/\s+/g,'')" type="password" />
                    <div class="input-error-txt" style="color: red;">{{ error_password }}</div>
                      {% else %}
                    <input name="password" size="" maxlength="32" id="password" required onkeyup="this.value=this.value.replace(/\s+/g,'')" type="password" />
                  {% endif %}
              </div>
              <div class="list-item">
                <div class="item-title">
                  <span class="undone">{{ entry_confirm }}:</span>
                </div>

                {#<p class="login-title-p"> <font id="error_confirm_password"></font> </p>#}
                  {% if error_confirm_x %}
                    <input name="confirm" size="" maxlength="32" id="confirm" required style="border-color: red;" onkeyup="this.value=this.value.replace(/\s+/g,'')" type="password" />
                    <div class="" style="color: red;">{{ error_confirm }}</div>
                      {% else %}
                    <input name="confirm" size="" maxlength="32" id="confirm" required onkeyup="this.value=this.value.replace(/\s+/g,'')" type="password" />
                  {% endif %}
              </div>

              <div style="display: none;">
                <div class="Agree_Provision Provision_register" style="display: none;">
                  <p class="Agree_Provision" id="Agree_Provision"> <input name="privacy" id="privacy" checked="checked" type="checkbox" /> <label for="privacy">Subscribe SheIn fashion news mail. We do not disclose any personal data to third parties.</label> </p>
                </div>
              </div>
              <div class="sign-in-btn" style="margin-top: 36px;">
                {#<input name="last_email" id="last_email" value="16958398@qq.com" type="hidden" />#}
                <input name="token" id="token" type="hidden" />
                {#<input name="return" value="http://www.shein.com/" type="hidden" />#}
                {#<input name="subscribe" value="subscribe" id="subscribe" type="hidden" />#}
                <button class="she-btn-black she-btn-l j-register-loading" disabled="" style="display: none;">
                  <div class="la-ball-pulse la-ball-pulse-white">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div> </button>
                <input id="submitBtn" class="submit-button she-btn-black she-btn-l j-register-submit" value="{{ text_register }}" type="submit" />
                {#<p class="register_why" style="text-align: center;"> <a class="why-register" href="http://www.shein.com/Why-Register-a-369.html" target="_top">Why Register?</a> ( Get <strong>US$3 off</strong> coupon and <a class="why-register why-register-more" href="http://www.shein.com/Why-Register-a-369.html" target="_top"><strong>more</strong></a>) </p>#}
              </div>
            </form>
          </div>
        </div>
      </div>
      <br class="clear" />
    </div>
  </div>
</div>
{{ footer }}
