{{ header }}
      {{ column_left }}
    <div class="she-center col-sm-9 myorder-detail order-wrap j-order-conter j-order-detail" id="orders_new_right">
      <h3 class="she-tl-h3">{{ heading_title }}</h3>
      {#<p>Whatever you need, we’re here to help!</p>#}
      {#<div class="doubt">#}
        {#Simply submit a ticket on the Order Details page or in#}
        {#<a class="ga-tk-order-list-my-tickets" href="https://www.shein.com/index.php?model=zendesk&amp;action=getList"> “My Tickets”.</a>#}
      {#</div>#}
      <table class="table table-striped" width="100%" cellspacing="0" cellpadding="3" border="0" align="center">
        <tbody>
        <tr>
          <th>{{ column_order_id }}</th>
          <th width="16.7%">{{ column_product }}</th>
          <th>{{ column_date_added }}</th>
          <th>{{ column_total }}</th>
          <th>{{ column_status }}</th>
          <th class="member_order_th"></th>
        </tr>
        {% for order in orders %}
          <tr id="order_info_BHL18525">
            <td class="order-number"> #{{ order.order_id }} </td>
            <td class="order-list-pic">
              <div class="order_img_list swiper-container order-swiper-container1 swiper-container-horizontal">
                <div class="swiper-wrapper order-swiper-wrap">
                  <div class="order_img_small swiper-slide swiper-slide-active" style="width: 120px;">
                    <img src="/image/{{ order.img }}" alt="" />
                  </div>
                </div>
                <div class="swiper-button-prev swiper-button-prev1 iconfont swiper-button-disabled">
                  
                </div>
                <div class="swiper-button-next swiper-button-next1 iconfont swiper-button-disabled">
                  
                </div>
              </div> </td>
            <td> {{ order.date_added }} </td>
            <td>
              <div id="total">
                <span class="default_price">{{ order.total }}</span>
              </div> </td>
            <td class="order-list-state">
              <div class="order-list-status">
                <span id="order_status_BHL18525">
                  <strong> <span class="status_order"> {{ order.status }} </span>
                    {#<i class="iconfont help-icon"></i>#}
                    {#<span class="arrow status-arrow"></span>#}
                    {#<p class="post-expired-title" style="display: none;">Your unpaid order is canceled and the point or coupon code you'v used have been back to you.</p>#}
                  </strong>
                </span>
              </div>
              {#<div class="order-list-detail">#}
                {#<a class="view_order hover_order" href="#">View Details <span class="cancel_risk_info">You can submit a ticket on the order details page</span> <span class="arrow"></span> </a>#}
              {#</div> </td>#}
            <td class="member_order_action">
              <div class="action">
                <div class="symbol">
                  <div class="canceled-goods-wrap">
                    <span class="she-btn-black she-btn-xs"><a href="{{ order.view }}" title="{{ button_view }}" style="color: white">[{{ button_view }}]</a></span>
                  </div>
                </div>
              </div> </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {#<div id="toolbar_page" style="display: block;">#}
        {#<div id="box-pagelist">#}
          {#<div class="pageNav ">#}
            {#<!-- 					<span class="pagecurrents">Page 1 of 1</span>#}
                         {#-->#}
            {#<div class="pagecurrents2 she-pagination">#}
              {#<!--   -->#}
              {#<a class="she-current">1</a>#}
              {#<!--  -->#}
            {#</div>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
      {#<div id="productsContent12" class="recommended_product_order">#}
        {#<h3>Recommendations For You</h3>#}
        {#<div style="position: relative;">#}
          {#<a href="javascript:void(0)" class="order-point-prev swiper-button-prev iconfont shein-arrow swiper-button-disabled"></a>#}
          {#<div class=" order-swiper-container swiper-container swiper-container-horizontal" style="max-width: 786px;">#}
            {#<div class="swiper-wrapper" id="personal_recommend_products_list">#}
              {#<img src="loading_vc554483_001.gif" class="cate_products_load" />#}
            {#</div>#}
          {#</div>#}
          {#<a class=" order-point-next swiper-button-next iconfont shein-arrow" href="javascript:void(0)"></a>#}
        {#</div>#}
      {#</div>#}
    </div>
  </div>
</div>
{{ footer }}
<script>
    $(function () {
        $('.j-member-orders').addClass('area');
    });
</script>
