{{ header }}
      {{ column_left_user }}
    <div class="she-center col-sm-9 col-xs-12 per-setting">

      <h3 class="she-tl-h3">{{ heading_title }}</h3>

      <div class="she-center-editpass">
        <form class="formlist list-input" action="{{ action }}" method="post" enctype="multipart/form-data" method="post">
          {#<p>If  you want to change your password, you can edit it here.</p>#}
          {#<div class="form-group" style="margin-bottom: 40px; margin-top: 0px;">#}
            {#<label style="margin-top: 48px;">Old Password:#}
              {#<font color="#FF0000">*</font>#}
            {#</label>#}
            {#<input class="form-control" name="old_password" size="21" maxlength="40" id="old_password" type="password">#}

          {#</div>#}
          <div class="form-group" style="margin-top: 0px; margin-bottom: 0px;">
            <label style="margin-top: 0px;">{{ entry_password }}:

              <font color="#FF0000">*</font>
            </label>
            <input class="form-control" placeholder="{{ entry_password }}" name="password" size="21" maxlength="40" value="{{ password }}" id="password" type="password">
              {% if error_password %}
                <div class="text-danger" style="color: red">{{ error_password }}</div>
              {% endif %}
          </div>
          <div class="form-group" style="margin-top: 0px; margin-bottom: 0px;">
            <label style="margin-top: 20px;">{{ entry_confirm }}:

              <font color="#FF0000">*</font>
            </label>
            <input class="form-control" placeholder="{{ entry_confirm }}" name="confirm" size="21" maxlength="40" id="password1" value="{{ confirm }}" type="password">
              {% if error_confirm %}
                <div class="text-danger" style="color: red">{{ error_confirm }}</div>
              {% endif %}
          </div>
          <div class="formbtn">
            <button name="submit" type="submit" class="she-btn-black">{{ button_submit }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
<script>
    $(function () {
        $('.j-member-password').addClass('area');
    });
</script>
