{{ header }}
    {{ column_left }}
    <div class="she-center col-sm-9 col-xs-12">
      <div class="wrapper">
        <div class="member-point-title-h">
          <h3 class="member-point-h2 she-tl-h3">{{ heading_title }}</h3>
        </div>
        <div id="new-contUs">
          <div class="integral-wrap">
            <div class="integral" style="margin-left: 25%;">
              <strong>{{ total }}</strong>
              <span>{{ text_total }} </span>
            </div>
            {#<div class="integral-form">#}
              {#<form action="https://www.shein.com/index.php?model=member_point" name="theForm_point" method="post" onsubmit="return check_form();">#}
                {#<div class="explain">#}
                  {#<p>Bonus Point Program--Submit your SheIn link(s) to earn up to 100 bonus points.</p>#}
                {#</div>#}
                {#<div class="list-unit">#}
                  {#<div class="list-item">#}
                    {#<label>You added the link(s) on : <span>*</span></label>#}
                    {#<div class="item-drop" id="point_type_list" style="width: 100%; border: medium none;">#}
                      {#<a href="javascript:void(0)" class="she-drop-normal wide-high"> <span class="dr-item"> Youtube +30 </span> <span class="caret"></span> </a>#}
                      {#<ul class="she-drop-normal-ul wide-high">#}
                        {#<li value="10"> Youtube +30 </li>#}
                        {#<li value="8"> Wanelo +6 </li>#}
                        {#<li value="7"> Polyvore +6 </li>#}
                        {#<li value="6"> Lookbook +8 </li>#}
                        {#<li value="3"> Twitter +5 </li>#}
                        {#<li value="2"> Facebook +10 </li>#}
                      {#</ul>#}
                      {#<input name="point_type_id" id="point_type_id" value="10" type="hidden" />#}
                    {#</div>#}
                  {#</div>#}
                  {#<div class="list-item">#}
                    {#<label>Exact link(s) : </label>#}
                    {#<textarea class="textarea high resize" name="message" id="message" placeholder="Type Something Here..."></textarea>#}
                  {#</div>#}
                  {#<div class="list-item list-input">#}
                    {#<label>Security code : </label>#}
                    {#<input name="captcha" id="captcha" value="" type="text" />#}
                    {#<img class="code" src="index.php" alt="captcha" style="vertical-align: middle; cursor: pointer;" onclick="this.src='index.php?model=captcha&amp;action=show&amp;'+Math.random()" />#}
                  {#</div>#}
                  {#<div class="list-item ">#}
                    {#<input name="submit" class="she-btn-black" value="Submit" onclick="javascript:check_form()" style="text-transform: uppercase;" type="button" />#}
                  {#</div>#}
                {#</div>#}
              {#</form>#}
            {#</div>#}
          </div>
          <div class="link">
            <table width="100%" cellspacing="0" cellpadding="0" border="1">
              <thead>
              <tr>
                <th>{{ column_date_added }}</th>
                <th>{{ column_description }}</th>
                <th>{{ column_points }}</th>
              </tr>
              </thead>
              <tbody>
              {% for reward in rewards %}
                <tr id="order_info">
                  <td align="center">{{ reward.date_added }}</td>
                  <td style="word-break: break-all;" align="center">{% if reward.order_id %} <a href="{{ reward.href }}">{{ reward.description }}</a> {% else %}
                          {{ reward.description }}
                      {% endif %}</td>
                  <td align="center">{{ reward.points }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
{{ footer }}

<script>
    $(function () {
        $('.j-member-reward').addClass('area');
    });
</script>
