{{ header }}
{% if attention %}
  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
{% endif %}
  {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
<div class="indexHomeBody index_checkout_body">
  <div class="pay-head">
    <div class="container-fluid checkout-header" style="margin-bottom: 10px;">
      <a class="logo-check iconfont shein-icon"> <i class="iconfont">  </i> </a>
      <span class="checkout-header-title"> <i class="iconfont secure-icon">  </i> secure checkout </span>
      <a href="{{ continue }}" class="checkout-header-title-r" style="color: rgb(153, 153, 153);"> {{ button_shopping }} <span> </span> </a>
    </div>
  </div>
  <div class="container-fluid mbag-step1">
    <ul class="flow j-empty-cart-hide shoppingTitle_o" style="visibility: visible; display: block;">
      <li class="step1"><a href="index.php">Home</a></li>
      <li class="step2"><a href="{{ cart }}"> {{ heading_title }} </a></li>
    </ul>
    <div class="shopbag-details row no-margin">
      <div class="shopping-list j-empty-cart-hide col-md-8 col-sm-8" style="visibility: visible; display: block;">
        <div class="heading no-border row j-heading-fixed" style="width: auto;">
          <h2 class="she-h1"> {{ heading_title }} </h2>
          <span> Prices are subject to change based on the price in effect the day you checkout. </span>
        </div>
        <div class="sl-table-h row">
          <ul>
            <li class="col-xs-6"> {{ column_name }} </li>
            <li class="col-xs-2">{{ column_price }}</li>
            <li class="col-xs-2"> {{ column_quantity }}</li>
            <li class="col-xs-2"> {{ column_total }} </li>
          </ul>
        </div>
        <form action="{{ action }}" method="post" id="car" enctype="multipart/form-data">
            {% for product in products %}
          <div id="shopping_cart_do_price">
            <div id="shopping_cart_common_html">
              <div class="sl-table-item row j-each-goods">
                <div class="col-xs-6 cart-content">
                  <div class="prod-details">
                    <div class="inbasket_img">
                        {% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}
                    </div>
                    <div class="intro">
                      <div class="prod-name">
                        <a class="name" href="{{ product.href }}">{{ product.name }}</a> {% if not product.stock %} <span class="text-danger">***</span> {% endif %}
                          {% if product.option %}
                              {% for option in product.option %} <br />
                                <small>{{ option.name }}: {{ option.value }}</small> {% endfor %}
                          {% endif %}
                          {% if product.reward %} <br />
                            <small>{{ product.reward }}</small> {% endif %}
                      </div>
                      <div class="size edit_item" style="margin-bottom: 0px;">
                        <span class="item_name"> {{ column_model }}: </span>
                        <span class="item_content"> {{ product.model }} </span>
                      </div>
                      <div class="operate" style="position: absolute;">
                        <span class="del"  onclick="cart.remove('{{ product.cart_id }}');">{{ button_remove }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-2 shoppingtop_price_and_discount price_and_discount_389423017_385492">
                  <div class="price discount_goods_price_389423017">
                    <div class="basket_cont_cart cart_all_price goods_price_current_price">
                      <span class="index-price shop_price US$13.00" price="US$13.00" style="display: block;"> <strong class="price">{{ product.price }}</strong></span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="qty she-filter-box j-cart-num">
                    <ul class="she-swatches she-stock">
                      <li class="j-reduce-wrap-389423017"> <span class="she-operator reduce iconfont j-reduce-389423017"onclick="des({{ product.cart_id }})">  </span> </li>
                      <input class="she-text qty-val quantitySelect_bg j-qty-val" name="quantity[{{ product.cart_id }}]" id="{{ product.cart_id }}" value="{{ product.quantity }}" type="text" />
                      <li class="j-cart-add-wrap"> <span class="j-cart-add she-operator increase iconfont" onclick="asc({{ product.cart_id }})">  </span> </li>
                      {#<button type="submit" data-toggle="tooltip" title="{{ button_update }}" class="btn btn-primary"><i class="fa fa-refresh"></i></button>#}
                    </ul>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="inbasket_total subtotal_item_total total">
                    <div class="item_total goods_price_current_price" style="">
                        {{ product.total }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}
          <div class="clearfix">
          </div>
        </form>
      </div>
      {#<div class="col-lg-4 col-md-4 col-sm-4" id="summary-fill">#}
      {#</div>#}
      {#<div class="emarsys-list j-emarsys-list col-md-8 col-sm-8" style="visibility: visible; display: block;">#}
        {#<h3 class="emarsys-tab"> <span class="j-tab j-tab-also emarsys-tab-active"> You May Also Like </span> <span class="emarsys-tab-line j-tab-line"> | </span> <span class="j-tab j-tab-vc " data-id="vc" style=""> Recommendations For You </span> </h3>#}
        {#<div id="productsContent1_comm" class="recommended-product recommended-also-product j-also-view" style="visibility: visible;">#}
          {#<div class="recommended-viewed-swiper j-recommended-emarsys">#}
            {#<div class="recommended-prev swiper-button-prev iconfont shein-arrow swiper-button-disabled">#}
              {##}
            {#</div>#}
            {#<div class="j-recommended-content recommended-content swiper-container swiper-container-horizontal">#}
              {#<div id="recommend_products_list" class="swiper-wrapper">#}
                {#<div class="swiper-slide box-product-list category_products_bg list_all_items swiper-slide-active" style="width: 144.875px; margin-right: 22.5px;">#}
                  {#<div class="goods-aImg">#}
                    {#<a style="cursor: pointer;"> <img src="/catalog/view/theme/default/image/cart/15058157203901741088_thumbnail_220x293.jpg" alt="Trumpet Sleeve Pearl Beading Scalloped Dress" border="0" /> </a>#}
                    {#<div class="la-ball-pulse">#}
                      {#<div>#}
                      {#</div>#}
                      {#<div>#}
                      {#</div>#}
                      {#<div>#}
                      {#</div>#}
                    {#</div>#}
                  {#</div>#}
                  {#<div class="goods_mz">#}
                    {#<a target="_blank"> Trumpet Sleeve Pearl Beading Scalloped Dress </a>#}
                  {#</div>#}
                  {#<div class="product-list list_all_items_price">#}
                    {#<span class="index-price shop_price final_price"> <strong class="final_price_strong"> US$13 </strong> </span>#}
                  {#</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="recommended-next swiper-button-next iconfont shein-arrow">#}
              {##}
            {#</div>#}
          {#</div>#}
        {#</div>#}
        {#<div class="recommended-product recommended-vc j-saveitems" style="visibility: visible;">#}
          {#<h3>#}
            {#<div class="item-title">#}
              {#Saved Items#}
            {#</div>#}
            {#<div data-num="6" class="item-num">#}
              {#(6)#}
            {#</div> </h3>#}
          {#<div class="recommended-viewed-swiper">#}
            {#<div class="j-sa-prev swiper-prev swiper-button-prev iconfont shein-arrow swiper-button-disabled">#}
              {##}
            {#</div>#}
            {#<div class="swiper-content swiper-container j-sa-container swiper-container-horizontal">#}
              {#<div class="swiper-wrapper">#}
                {#<div class="swiper-slide box-vc-list swiper-slide-active" style="width: 144.875px; margin-right: 22.5px;">#}
                  {#<div class="goods-aImg">#}
                    {#<a style="cursor: pointer;"> <img src="/catalog/view/theme/default/image/cart/15107394912945120341_thumbnail_220x293.jpg" /> </a>#}
                    {#<div class="la-ball-pulse">#}
                      {#<div>#}
                      {#</div>#}
                      {#<div>#}
                      {#</div>#}
                      {#<div>#}
                      {#</div>#}
                    {#</div>#}
                  {#</div>#}
                  {#<div class="box-vc-name">#}
                    {#<small class="goods-brand"> SHEIN&nbsp; </small> Flounce Embellished Tied Neck Dress#}
                  {#</div>#}
                  {#<div>#}
                    {#<span class="price" style="display: ;"> <strong class="final_price_strong"> US$14.45 </strong> <b class="show_vip"> (vip) </b> </span>#}
                  {#</div>#}
                {#</div>#}
                {#<!---->#}
              {#</div>#}
            {#</div>#}
            {#<div class="j-sa-next swiper-next swiper-button-next iconfont shein-arrow">#}
              {##}
            {#</div>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
      <div class="right-ctn j-empty-cart-hide" style="position: fixed; width: 393px; right: 41.8333px; top: auto; visibility: visible; display: block;">
        <div class="order-sum">
          <div class="cart-placeorder-header">
            <h2> Order Summary </h2>
          </div>
          <div class="order-summary">
            <div id="shopping_cart_do_price_total" style="margin-top: 10px;">
              {#{% for total in totals %}#}
                {#<div class="price-current-item" id="retail_price">#}
                  {#<span class="current-t"> {{ total.title }} </span>#}
                  {#<div class="current-v" id="shipping_retail_price">#}
                    {#<div class="item_total goods_price_current_price" style="">#}
                        {#{{ total.text }}#}
                    {#</div>#}
                  {#</div>#}
                {#</div>#}
              {#{% endfor %}#}
              {% for total in totals %}
                <div class="price-total-item">
                  <span class="total-t"> {{ total.title }} </span>
                  <div class="total" id="shipping_total">
                    <div class="item_total goods_price_current_price">
                        {{ total.text }}
                    </div>
                  </div>
                </div>
              {% endfor %}
              {#<div class="get-pt user_get_point">#}
                {#<span class="reward-points-info"> Reward <span class="point-biao"> 35 </span> <span class="point-biao sale-out-img"> <a href=""> SheIn Points </a> </span> <span class="pre_ticket_tips"> The SheIn points will be added to your account after you confirm received your order. </span> </span>#}
              {#</div>#}
              {#<div class="free-express">#}
                {#Got a coupon? Add it in the next step!#}
              {#</div>#}
              <a href="{{ checkout }}"><input class="she-btn-black she-btn-xl checkout j-checkout-btn" name="checkout" value="{{ button_checkout }}" type="button" /></a>
            </div>
            <div class="ac-card">
              <h2 class="she-h1"> </h2>
              <div class="card-img">
                <img src="/catalog/view/theme/default/image/cart/n-ar-codcard_v9d7b3b8.png" class="card-img-ar" />
                <img src="/catalog/view/theme/default/image/cart/n-2-visa_vd35286a.png" />
                <img src="/catalog/view/theme/default/image/cart/n-3-mastercard_vf9b0f97.png" />
                <img src="/catalog/view/theme/default/image/cart/n-8-maestro_v781c6fd.png" />
                <img src="/catalog/view/theme/default/image/cart/n-7-american-express_vb186b55.png" class="card-img-common" />
                <img src="/catalog/view/theme/default/image/cart/cartnet@2x_v20ad514.png" />
                <img src="/catalog/view/theme/default/image/cart/n-1-paypal_va336d76.png" />
                <img src="/catalog/view/theme/default/image/cart/n-16-ideal_v42c1656.png" class="card-img-common" />
                <img src="/catalog/view/theme/default/image/cart/oxxo@2x_v0ac9136.png" />
                <img src="/catalog/view/theme/default/image/cart/wire_transfer@2x_v0896cc5.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{#{{ footer }}#}

<script>
  function des(id) {
      console.log($('#'+id).val());
      $('#'+id).val(parseInt($('#'+id).val())-1);
      $('#car').submit();
  }
  function asc(id) {
      console.log($('#'+id).val());
      $('#'+id).val(parseInt($('#'+id).val())+1);
      $('#car').submit();
  }
</script>
