{{ header }}
{{ include(helper.template('_partial/product/filter_bar_block')) }}
{{ column_left }}
<div class="j-list-cate-inner  c-list-cate-inner">

  <div class="mgds-goodsl  container-fluid-1200  j-mgds-goodsl-wrap">
      {{ include(helper.template('_partial/breadcrumb')) }}

    <!-- 列表项 -->
    <div class="row">
      {% for product in products %}
      <div class="c-goodsli j-goodsli j-goodsli-450271 col-lg-3 col-sm-4 col-xs-6" preload="1">
        <!-- 占位, 勿删 -->
        <div class="gds-li-ratiowrap"></div>

        <div style="height: 90px"></div>
        <!-- 占位, 勿删 -->
        <div class="c-goodsli-absolute">
          <div class="j-switch-color-wrap">
            <div class="gds-li-ratiowrap">
              <a href="{{ product.href }}" class="gds-li-ratioimg j-item-msg j-item-msg-a" target="_blank" index="2" title="{{ product.name }}"> <img style="width:100%;height:100%;" src="{{ product.thumb }}"data-was-processed="true" /> </a>

            </div>

            <a class="" href="{{ product.href }}" target="_blank" title="{{ product.name }}">{{ product.name }}</a>
            <div class="btm-price j-gds-li-price j-gds-li-price-556827 she-show" style="display: none">
              <span class="disc-price j-price-discount" style="display: none"></span>
              <span class="btm-sale j-price-sale-txt" style="display: none">(Sale)</span>
              <span class="orig-price j-price-original">{{ product.price }}</span>
            </div>
            <button class="she-btn-white-opacity she-btn-s quickv-btn j-qv-loading" style="display: none;">
              <div class="la-ball-pulse">
                <div></div>
                <div></div>
                <div></div>
              </div> </button>
            <div class="btm-wrap">
              <div class="btm-icon">
                <div class="btm-icon-comment j-btm-goods-comment" data-id="556827">
                  <i class="iconfont icon-no-comment j-btm-comment-icon" ref="commentIcon"></i>
                  <div class="btm-comment-tip j-btm-comment-tip " ref="commentTip" style="display: none">
                    <span class="comment-arrow-ctn"><span class="comment-arrow"></span></span>
                    <div class="no-comment-img">
                      <div class="comment-img-ctn j-comment-img-ctn" data-src="//img.ltwebstatic.com/origin/images2_pi/2018/08/27/15353520202706500465_im_405x552.jpg" data-webp="//img.ltwebstatic.com/origin/images2_pi/2018/08/27/15353520202706500465_im_405x552.jpg" style="background-image: url(&quot;//img.ltwebstatic.com/origin/images2_pi/2018/08/27/15353520202706500465_im_405x552.jpg&quot;);"></div>
                    </div>
                  </div>
                </div>
                <div class="btm-icon-save j-gds-li-save j-gds-li-save-556827" data-id="556827" data-sku="tee180807705" data-index="2">
                  <i class="iconfont icon-like-hollow with-arrow-bottom j-save-icon" onclick="wishlist.add('{{ product.product_id }}');"> </i>
                  <div class="btm-save-tip j-btm-save-tip" style="display: none;" >
                    Save to Wishlist
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>

  </div>


</div>

<script>

$('.iconfont').click(function () {

    var id = this.id;

    $('.'+id).addClass("she-hide");
    $('#' + id).attr("class", "iconfont icon-up "+id+'a');
    $('.' + id+'a').click(function(){
        $('.'+id).removeClass("she-hide");
        $('#' + id).attr("class", "iconfont icon-down");
    });
});
</script>
{{ footer }}
