{{ header }}
<script src="/catalog/view/javascript/jquery/elevatezoom/jquery.elevateZoom.min.js" type="text/javascript"></script>
<div class="mgds-goodsd j-mgds-goodsd container-fluid-1200 j-detail-page ">
  <ul class="c-breadcrumb">
    <li> <a title="Home" href="/">Home</a> </li>
    <li> <span title="Women">Women</span> </li>
    <li> <span title="Clothing">Clothing</span> </li>
    <li> <a title="Women's Dresses" href="women-dresses-c-1727.html">Women's Dresses</a> </li>
    <!-- 面包屑下拉框 -->
    <li class="bc-dropdown">
      <div class="bc-dropdown-title">
        <span> <a href="/attribute-279_27973-1727.html">Sexy</a> </span>
        <span class="bc-arrow"></span>
      </div>
      <ul class="bc-dropdown-menu">
        <li> <a href="/attribute-279_27973-1727.html">Sexy</a> </li>
        <li> <a href="/attribute-284_28443-1727.html">Short</a> </li>
        <li> <a href="/attribute-2376_237644-1727.html">Night Out</a> </li>
        <li> <a href="/attribute-286_286423-1727.html">Backless</a> </li>
        <li> <a href="/attribute-278_27833-1727.html">Red</a> </li>
        <li> <a href="/attribute-283_28333-1727.html">Sheath</a> </li>
        <li> <a href="/attribute-280_28053-1727.html">Polyester</a> </li>
        <li> <a href="/attribute-290_29003-1727.html">Plain</a> </li>
        <li> <a href="/attribute-281_281183-1727.html">Deep V Neck</a> </li>
        <li> <a href="/attribute-281_28103-1727.html">Halter</a> </li>
        <li> <a href="/attribute-282_28223-1727.html">Sleeveless</a> </li>
        <li> <a href="/attribute-1761_176114-1727.html">Summer</a> </li>
      </ul> </li>
    <li class="j-change-color-bc">Plunging V-neckline Surplice Backless Halter Dress</li>
    <!-- 面包屑筛选tag -->
    <!-- <li>
        <div cl//img.ltwebstatic.com/images2_pi/2018/05/11/15260223133183131482_thumbnail_405x552.webp          endkey: endval.name
            <a class="tag-del" href="endvalurl">
                <i class="iconfont icon-close"></i>
            </a>
        </div>
    </li> -->
  </ul>
  <div class="row c-goodsdc">
    <div class="goodsd-left col-sm-7">
      <div class="img-ctn">
        <div class="img-thumbs j-img-thumbs">
          <div class="thumbs-wrapper j-thumbs" style="height: 790px;">
            <ul class="thumbnails list-inline" id="product-thumbnail-gallery">
                {% for image in images %}
                  <li class="image-additional"><a class="thumbnail elevatezoom-gallery" rel="group" data-image="{{ image.preview }}" data-zoom-image="{{ image.popup }}" href="{{ image.popup }}" title="{{ heading_title }}"> <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></li>
                {% endfor %}
            </ul>
          </div>
        </div>
        {% set first = images|first %}
        <div class="img-top swiper-container j-goods-img-swiper swiper-container-horizontal">
          {#<div class="img-top-prev j-img-top-prev swiper-button-prev iconfont icon-left"></div>#}
          <div class="swiper-wrapper">
            <div class="swiper-slide ">
                <img id="elevate-zoom" data-zoom-image="{{ first.popup }}" class="img-responsive" src={{ first.preview }} />
            </div>
          </div>
          {#<div class="img-top-next j-img-top-next swiper-button-next iconfont icon-right"></div>#}
        </div>
      </div>
    </div>
    <div class="goodsd-right j-goodsd-right-ctn col-sm-5 " id="product">
      <h4 class="name"> {{ heading_title }} </h4>
      {#<div class="summary">#}
        {#<span class="state j-in-stock-status ">In Stock</span>#}
        {#<span class="state j-out-stock-status she-hide">Out of Stock</span>#}
        {#<span class="sku">SKU: dress180514094</span>#}
        {#<div class="comments">#}
       {#<span class="j-vue-review-rate">#}
        {#<div class="c-star">#}
         {#<span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star"></i></span>#}
          {#<!---->#}
        {#</div></span>#}
          {#<a href="#to_review" rel="nofollow"> (<span class="cmtNum"> 3 </span>) </a>#}
        {#</div>#}
      {#</div>#}
      <div class="price">
        <div class="price-ctn static">
          <!-- 没有折扣价的, 加she-color-black -->
          <div class="price-discount j-price-discount she-color-black" id="price">
            {{ price }}
          </div>
          <div class="price-origin j-price-origin" style="display: none;"></div>
          <span class="j-price-unit_discount" style="display: none;"></span>
        </div>
        <!-- 限购 -->
      </div>
      <div class="dts-promotion">
      </div>
      <div class="j-vue-dt-addbag-opt">
        <div class="goodsd-opt" id="product">

        {% include(helper.template('_partial/product/options')) %}

          <div class="goodsd-qty">
            <div class="opt-title-qty">
              Qty
            </div>
            <div class="c-opt-qty j-ItemDetail ">
              <span class="opt-qty-span iconfont icon-reduce quantity-input-wrapper "></span>
              <input type="text" name="quantity" id="input-quantity" class="opt-qty-input j-qty-input form-control" value="{{ minimum }}"/>
              <span class="opt-qty-span iconfont icon-add quantity-input-wrapper quantity-up"></span>
                <input type="hidden" name="product_id" value="{{ product_id }}" />
            </div>
            <div class="goodsd-residue">
              <!---->
            </div>
          </div>
        </div>
        <div class="collect" >
          Total : <span id="price_x">{{ price }}</span>
        </div>
        <p class="she-color-error" style="display: none;">purchase limit exceeded</p>
        <div class="goodsd-btn">
          <button class="she-btn-black she-btn-xl" id="button-cart"> Add To Bag </button>
          <button class="she-btn-white-no-hover wishlist-btn she-btn-xl" onclick="wishlist.add('{{ product_id }}');"><i class="iconfont icon-like-hollow"></i>
          </button>
        </div>
      </div>
      <div class="desc-accordion">
        <div class="desc-title-ctn j-desc-title-ctn desc-title-0">
          <span id="0" class="desc-title j-desc-title desc-title-active" >Description</span>
          <span id="1" class="desc-title j-desc-title">Size &amp; Fit</span>
          <span id="2" class="desc-title j-desc-title">Delivery</span>
          <span id="3" class="desc-title j-desc-title "><span>Return Policy</span></span>
        </div>
        <div class="desc-wrap j-desc-wrap">
          <div class="desc-con j-desc-con desc-wrap-default 0">
            <div>11</div>
          </div>
          <div class="1 desc-con j-desc-con">
            <div>
              32222
            </div>
            <!---->
          </div>
          <div type="delivery" class="2 desc-con j-desc-con">
            <!---->
            <div>
              <p><font size="2"><br /> Receiving time = Processing time + Shipping time<u><br /> <br /> <a href="/Shipping-Info-a-280.html">Learn More</a></u></font></p>
            </div>
            <br />
          </div>
          <div type="policy" class="3 desc-con j-desc-con ">
            <p><font size="2"><strong>Our Guarantee</strong><br /> Return or exchange <u><strong>within 30 days</strong></u> from the delivered date.<br /> </font></p>
            <p><font size="2">Request:<br /> 1. Items received within 30 days from the delivered date.<br /> 2. Items received unused, undamaged and in original package.<br /> 3. Return shipping fee is paid by buyer.</font></p>
            <p><font size="2"><br /> <a href="/Return-Policy-a-281.html">Learn More</a></font></p>
          </div>

        </div>

      </div>
    </div>
  </div>

  <!-- 详情细节图 -->
  <div class="j-change-color-detail-img">
  </div>
  <div class="j-vue-goods-detail">
    <div id="category_recommend_products_list_3">
      <!---->
    </div>
    <div id="category_recommend_products_list_4">
      <!---->
    </div>
    <div class="j-dt-stylegallery">
      <div class="goodsd-module">
        <h2 class="goodsd-module-h style-galllery-title">Style Gallery</h2>
        <div class="goodsd-empty-galllery">
          <p> The Style Gallery is a great new way for you to share outfit photos. It's meant to show all the expressive, creative and inspirational personalities! </p>
          <p class="gallery-earn-point"> Earn <em>20 points</em> by uploading your own photo. </p>
          <button onclick="javascript:location.href= 'https://www.shein.com/user/style_gallery?gallery_type=1';" type="Upload" class="she-btn-black j-nav-style-gallery">Upload your Photo</button>
        </div>
        <!---->
      </div>
    </div>
  </div>

      {#评论#}
    <div id="review"></div>

    <div class="c-modal-wrap" style="display: none;">
      <div class="she-mask"></div>
      <div class="c-modal">
        <div class="modal-dialog vertical-center modal-lg modal-full">
          <div class="modal-content" style="padding: 0px; display: none;">
            <div class="modal-header">
              <div></div>
              <div class="modal-title"></div>
            </div>
            <div class="modal-body">
              <div class="style-gallery-modal">
                <div class="swiper-container swiper-container-horizontal j-sg-bigimg-swiper">
                  <div class="swiper-wrapper"></div>
                  <div class="swiper-button-prev iconfont icon-left j-sg-bigimg-prev"></div>
                  <div class="swiper-button-next iconfont icon-right j-sg-bigimg-next"></div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="j-dt-recommend1">
      <div id="category_recommend_products_list_1">
        <div brand="emarsys" data-ref="recomend1" class="goodsd-module j-goodsd-module-r j-r-1" ga_type="customers_also_viewed" viewed="true">
          <h2 class="goodsd-module-h">Customers Also Viewed</h2>
          <div class="c-recommend-goodsd ss">
            <div class="recommend-con">
              <div class="recommend-prev swiper-button-prev iconfont icon-left j-r-prev swiper-button-disabled"></div>
              <div class="swiper-container swiper-container-horizontal j-r-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide j-recommend-item-493940 swiper-slide-active" style="width: 204px; margin-right: 15px;">
                    <a href="/Allover-Floral-Print-Ruffle-Hem-Textured-Dress-p-493940-cat-1727.html" title="Allover Floral Print Ruffle Hem Textured Dress"><img src="//img.ltwebstatic.com/images2_pi/2018/07/11/15312827891622175404_thumbnail_405x552.webp" data-src="//img.ltwebstatic.com/images2_pi/2018/07/11/15312827891622175404_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/07/11/15312827891622175404_thumbnail_405x552.webp" alt="" class="j-verlok-lazy loaded" data-was-processed="true" /></a>
                    <p class="recommend-price">US$15.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (35)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-311141 swiper-slide-next" style="width: 204px; margin-right: 15px;">
                    <a href="/Blue-And-White-Porcelain-Print-Pencil-Dress-p-311141-cat-1727.html" title="Porcelain Print Pencil Dress"><img src="//img.shein.com/images/shein.com/201609/78/14726932726109321642_thumbnail_405x552.jpg" data-src="//img.shein.com/images/shein.com/201609/78/14726932726109321642_thumbnail_405x552.jpg" data-webp="//img.shein.com/images/shein.com/201609/78/14726932726109321642_thumbnail_405x552.jpg" alt="" class="j-verlok-lazy loaded" data-was-processed="true" /></a>
                    <p class="recommend-price">US$13.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (1333)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-345718" style="width: 204px; margin-right: 15px;">
                    <a href="/Palm-Leaf-Print-Double-V-Neck-Cami-Dress-p-345718-cat-1727.html" title="Palm Leaf Print Double V Neck Cami Dress"><img src="//img.shein.com/images/shein.com/201703/57/14897171425035740136_thumbnail_405x552.jpg" data-src="//img.shein.com/images/shein.com/201703/57/14897171425035740136_thumbnail_405x552.jpg" data-webp="//img.shein.com/images/shein.com/201703/57/14897171425035740136_thumbnail_405x552.jpg" alt="" class="j-verlok-lazy loaded" data-was-processed="true" /></a>
                    <p class="recommend-price">US$15.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (1004)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-445011" style="width: 204px; margin-right: 15px;">
                    <a href="/Deep-V-Neck-Button-Front-Striped-Dress-p-445011-cat-1727.html" title="Deep V Neck Button Front Striped Dress"><img src="//img.ltwebstatic.com/images2_pi/2018/04/11/15234437743354541814_thumbnail_405x552.webp" data-src="//img.ltwebstatic.com/images2_pi/2018/04/11/15234437743354541814_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/04/11/15234437743354541814_thumbnail_405x552.webp" alt="" class="j-verlok-lazy loaded" data-was-processed="true" /></a>
                    <p class="recommend-price">US$15.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (128)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-467364" style="width: 204px; margin-right: 15px;">
                    <a href="/Cut-and-Sew-Dress-p-467364-cat-1727.html" title="Cut and Sew Dress"><img src="//img.ltwebstatic.com/images2_pi/2018/04/25/1524649119550553341_thumbnail_405x552.webp" data-src="//img.ltwebstatic.com/images2_pi/2018/04/25/1524649119550553341_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/04/25/1524649119550553341_thumbnail_405x552.webp" alt="" class="j-verlok-lazy loaded" data-was-processed="true" /></a>
                    <p class="recommend-price">US$7.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (43)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-389131" style="width: 204px; margin-right: 15px;">
                    <a href="/Contrast-Collar-And-Cuff-Textured-2-In-1-Dress-p-389131-cat-1727.html" title="Contrast Collar And Cuff Textured 2 In 1 Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images/pi/201709/77/15058157150799978739_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images/pi/201709/77/15058157150799978739_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                    <p class="recommend-price">US$14.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (152)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-354341" style="width: 204px; margin-right: 15px;">
                    <a href="/Crisscross-V-Neck-Striped-Tee-Dress-p-354341-cat-1727.html" title="Crisscross V Neck Striped Tee Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.shein.com/images/shein.com/201704/d4/14930281233830669156_thumbnail_405x552.jpg" data-webp="//img.shein.com/images/shein.com/201704/d4/14930281233830669156_thumbnail_405x552.jpg" alt="" class="j-verlok-lazy" /></a>
                    <p class="recommend-price">US$7.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (265)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-531661" style="width: 204px; margin-right: 15px;">
                    <a href="/Plant-Print-Asymmetrical-Hem-Dress-p-531661-cat-1727.html" title="Plant Print Asymmetrical Hem Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images2_pi/2018/07/09/15311174973768463620_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/07/09/15311174973768463620_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                    <p class="recommend-price">US$14.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (6)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-380141" style="width: 204px; margin-right: 15px;">
                    <a href="/Plunge-Neck-Crisscross-Back-High-Slit-Wrap-Cami-Dress-p-380141-cat-1727.html" title="Plunge Neck Crisscross Back High Slit Wrap Cami Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images/pi/201708/a2/15041482880286362586_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images/pi/201708/a2/15041482880286362586_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                    <p class="recommend-price">US$21.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (206)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-390361" style="width: 204px; margin-right: 15px;">
                    <a href="/Bib-Pocket-Front-Overall-Dress-p-390361-cat-1727.html" title="Bib Pocket Front Overall Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images/pi/201710/48/15084095664681649240_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images/pi/201710/48/15084095664681649240_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                    <p class="recommend-price">US$10.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (633)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-460356" style="width: 204px; margin-right: 15px;">
                    <a href="/Tassel-Hem-Tunic-Dress-p-460356-cat-1727.html" title="Tassel Hem Tunic Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images2_pi/2018/05/08/15257798812406886686_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/05/08/15257798812406886686_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                    <p class="recommend-price">US$11.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (87)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-240615" style="width: 204px; margin-right: 15px;">
                    <a href="/Puff-Sleeve-Belt-Chiffon-Slim-Dress-p-240615-cat-1727.html" title="Puff Sleeve Dress With Belt"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.shein.com/images/201604/1461065147414014448.jpg" data-webp="//img.shein.com/images/201604/1461065147414014448.jpg" alt="" class="j-verlok-lazy" /></a>
                    <p class="recommend-price">US$20.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (503)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-366596" style="width: 204px; margin-right: 15px;">
                    <a href="/Braided-Bead-Strap-Tie-Floral-Print-Dress-p-366596-cat-1727.html" title="Braided Bead Strap Tie Floral Print Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images/pi/201706/7b/14977660897644972737_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images/pi/201706/7b/14977660897644972737_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                    <p class="recommend-price">US$10.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (568)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-540285" style="width: 204px; margin-right: 15px;">
                    <a href="/Scallop-Trim-Fit-&amp;-Flare-Dress-p-540285-cat-1727.html" title="Scallop Trim Fit &amp; Flare Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images2_pi/2018/07/18/1531903846448282561_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/07/18/1531903846448282561_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                    <p class="recommend-price">US$17.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (4)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-531330" style="width: 204px; margin-right: 15px;">
                    <a href="/Frayed-Edge-Button-Detail-Tweed-Dress-p-531330-cat-1727.html" title="Frayed Edge Button Detail Tweed Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images2_pi/2018/07/27/15326879001254332302_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/07/27/15326879001254332302_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                    <p class="recommend-price">US$18.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (6)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-447655" style="width: 204px; margin-right: 15px;">
                    <a href="/Polka-Dot-Twist-Front-Knot-Back-Cami-Dress-p-447655-cat-1727.html" title="Polka Dot Twist Front Knot Back Cami Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images/pi/201803/b2/15217127870653288238_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images/pi/201803/b2/15217127870653288238_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                    <p class="recommend-price">US$15.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (78)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-455538" style="width: 204px; margin-right: 15px;">
                    <a href="/Strappy-Back-Solid-Halter-Dress-p-455538-cat-1727.html" title="Strappy Back Solid Halter Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images2_pi/2018/04/25/1524635230998208058_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/04/25/1524635230998208058_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                    <p class="recommend-price">US$14.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (46)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-321366" style="width: 204px; margin-right: 15px;">
                    <a href="/Black-Drop-Shoulder-Sweatshirt-Dress-p-321366-cat-1727.html" title="Drop Shoulder Sweatshirt Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.shein.com/images/shein.com/201610/d0/14762345545104822097_thumbnail_405x552.jpg" data-webp="//img.shein.com/images/shein.com/201610/d0/14762345545104822097_thumbnail_405x552.jpg" alt="" class="j-verlok-lazy" /></a>
                    <p class="recommend-price">US$10.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (109)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-529879" style="width: 204px; margin-right: 15px;">
                    <a href="/Notch-Collar-Double-Breasted-Surplice-Wrap-Dress-p-529879-cat-1727.html" title="Notch Collar Double Breasted Surplice Wrap Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images2_pi/2018/07/20/15320698463615635869_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/07/20/15320698463615635869_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                    <p class="recommend-price">US$22.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (6)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-455628" style="width: 204px; margin-right: 15px;">
                    <a href="/Tribal-Print-Bardot-Dress-p-455628-cat-1727.html" title="Tribal Print Bardot Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images2_pi/2018/04/19/1524130543218455842_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/04/19/1524130543218455842_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                    <p class="recommend-price">US$11.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (53)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-439394" style="width: 204px; margin-right: 15px;">
                    <a href="/Laser-Cut-Zip-Back-Pencil-Dress-p-439394-cat-1727.html" title="Laser Cut Zip Back Pencil Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images/pi/201802/ac/15198087300214896582_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images/pi/201802/ac/15198087300214896582_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                    <p class="recommend-price">US$15.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (57)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-401096" style="width: 204px; margin-right: 15px;">
                    <a href="/Solid-Cami-Bodycon-Dress-p-401096-cat-1727.html" title="Solid Cami Bodycon Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images/pi/201710/65/15093318249211330786_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images/pi/201710/65/15093318249211330786_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                    <p class="recommend-price">US$13.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (104)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-461950" style="width: 204px; margin-right: 15px;">
                    <a href="/Button-Up-Ribbed-Knit-Dress-p-461950-cat-1727.html" title="Button Up Ribbed Knit Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images2_pi/2018/04/26/15247205052612865585_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/04/26/15247205052612865585_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                    <p class="recommend-price">US$15.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (19)
                    </div>
                  </div>
                  <div class="swiper-slide j-recommend-item-482422" style="width: 204px; margin-right: 15px;">
                    <a href="/Off-Shoulder-Button-Up-Striped-Dress-p-482422-cat-1727.html" title="Off Shoulder Button Up Striped Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images2_pi/2018/06/04/1528106948349334530_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/06/04/1528106948349334530_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                    <p class="recommend-price">US$10.00</p>
                    <div class="recommend-rank">
                      <div class="c-star">
                        <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                        <!---->
                      </div> (31)
                    </div>
                  </div>
                </div>
              </div>
              <div class="recommend-next swiper-button-next iconfont icon-right j-r-next"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="category_recommend_products_list_2">
      <div brand="" data-ref="recomend2" class="goodsd-module j-goodsd-module-r j-r-2" ga_type="best_sellers" viewed="true">
        <h2 class="goodsd-module-h">Best Sellers</h2>
        <div class="c-recommend-goodsd ss">
          <div class="recommend-con">
            <div class="recommend-prev swiper-button-prev iconfont icon-left j-r-prev swiper-button-disabled"></div>
            <div class="swiper-container swiper-container-horizontal j-r-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide j-recommend-item-493940 swiper-slide-active" style="width: 204px; margin-right: 15px;">
                  <a href="/Allover-Floral-Print-Ruffle-Hem-Textured-Dress-p-493940-cat-1727.html" title="Allover Floral Print Ruffle Hem Textured Dress"><img src="//img.ltwebstatic.com/images2_pi/2018/07/11/15312827891622175404_thumbnail_405x552.webp" data-src="//img.ltwebstatic.com/images2_pi/2018/07/11/15312827891622175404_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/07/11/15312827891622175404_thumbnail_405x552.webp" alt="" class="j-verlok-lazy loaded" data-was-processed="true" /></a>
                  <p class="recommend-price">US$15.00</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                      <!---->
                    </div> (35)
                  </div>
                </div>
                <div class="swiper-slide j-recommend-item-311141 swiper-slide-next" style="width: 204px; margin-right: 15px;">
                  <a href="/Blue-And-White-Porcelain-Print-Pencil-Dress-p-311141-cat-1727.html" title="Porcelain Print Pencil Dress"><img src="//img.shein.com/images/shein.com/201609/78/14726932726109321642_thumbnail_405x552.jpg" data-src="//img.shein.com/images/shein.com/201609/78/14726932726109321642_thumbnail_405x552.jpg" data-webp="//img.shein.com/images/shein.com/201609/78/14726932726109321642_thumbnail_405x552.jpg" alt="" class="j-verlok-lazy loaded" data-was-processed="true" /></a>
                  <p class="recommend-price">US$13.00</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                      <!---->
                    </div> (1333)
                  </div>
                </div>
                <div class="swiper-slide j-recommend-item-345718" style="width: 204px; margin-right: 15px;">
                  <a href="/Palm-Leaf-Print-Double-V-Neck-Cami-Dress-p-345718-cat-1727.html" title="Palm Leaf Print Double V Neck Cami Dress"><img src="//img.shein.com/images/shein.com/201703/57/14897171425035740136_thumbnail_405x552.jpg" data-src="//img.shein.com/images/shein.com/201703/57/14897171425035740136_thumbnail_405x552.jpg" data-webp="//img.shein.com/images/shein.com/201703/57/14897171425035740136_thumbnail_405x552.jpg" alt="" class="j-verlok-lazy loaded" data-was-processed="true" /></a>
                  <p class="recommend-price">US$15.00</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                      <!---->
                    </div> (1004)
                  </div>
                </div>
                <div class="swiper-slide j-recommend-item-445011" style="width: 204px; margin-right: 15px;">
                  <a href="/Deep-V-Neck-Button-Front-Striped-Dress-p-445011-cat-1727.html" title="Deep V Neck Button Front Striped Dress"><img src="//img.ltwebstatic.com/images2_pi/2018/04/11/15234437743354541814_thumbnail_405x552.webp" data-src="//img.ltwebstatic.com/images2_pi/2018/04/11/15234437743354541814_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/04/11/15234437743354541814_thumbnail_405x552.webp" alt="" class="j-verlok-lazy loaded" data-was-processed="true" /></a>
                  <p class="recommend-price">US$15.00</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                      <!---->
                    </div> (128)
                  </div>
                </div>
                <div class="swiper-slide j-recommend-item-389131" style="width: 204px; margin-right: 15px;">
                  <a href="/Contrast-Collar-And-Cuff-Textured-2-In-1-Dress-p-389131-cat-1727.html" title="Contrast Collar And Cuff Textured 2 In 1 Dress"><img src="//img.ltwebstatic.com/images/pi/201709/77/15058157150799978739_thumbnail_405x552.webp" data-src="//img.ltwebstatic.com/images/pi/201709/77/15058157150799978739_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images/pi/201709/77/15058157150799978739_thumbnail_405x552.webp" alt="" class="j-verlok-lazy loaded" data-was-processed="true" /></a>
                  <p class="recommend-price">US$14.00</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                      <!---->
                    </div> (152)
                  </div>
                </div>
                <div class="swiper-slide j-recommend-item-467364" style="width: 204px; margin-right: 15px;">
                  <a href="/Cut-and-Sew-Dress-p-467364-cat-1727.html" title="Cut and Sew Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images2_pi/2018/04/25/1524649119550553341_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/04/25/1524649119550553341_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                  <p class="recommend-price">US$7.00</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                      <!---->
                    </div> (43)
                  </div>
                </div>
                <div class="swiper-slide j-recommend-item-354341" style="width: 204px; margin-right: 15px;">
                  <a href="/Crisscross-V-Neck-Striped-Tee-Dress-p-354341-cat-1727.html" title="Crisscross V Neck Striped Tee Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.shein.com/images/shein.com/201704/d4/14930281233830669156_thumbnail_405x552.jpg" data-webp="//img.shein.com/images/shein.com/201704/d4/14930281233830669156_thumbnail_405x552.jpg" alt="" class="j-verlok-lazy" /></a>
                  <p class="recommend-price">US$7.00</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                      <!---->
                    </div> (264)
                  </div>
                </div>
                <div class="swiper-slide j-recommend-item-531330" style="width: 204px; margin-right: 15px;">
                  <a href="/Frayed-Edge-Button-Detail-Tweed-Dress-p-531330-cat-1727.html" title="Frayed Edge Button Detail Tweed Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images2_pi/2018/07/27/15326879001254332302_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/07/27/15326879001254332302_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                  <p class="recommend-price">US$18.00</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                      <!---->
                    </div> (6)
                  </div>
                </div>
                <div class="swiper-slide j-recommend-item-390361" style="width: 204px; margin-right: 15px;">
                  <a href="/Bib-Pocket-Front-Overall-Dress-p-390361-cat-1727.html" title="Bib Pocket Front Overall Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images/pi/201710/48/15084095664681649240_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images/pi/201710/48/15084095664681649240_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                  <p class="recommend-price">US$10.00</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                      <!---->
                    </div> (633)
                  </div>
                </div>
                <div class="swiper-slide j-recommend-item-380141" style="width: 204px; margin-right: 15px;">
                  <a href="/Plunge-Neck-Crisscross-Back-High-Slit-Wrap-Cami-Dress-p-380141-cat-1727.html" title="Plunge Neck Crisscross Back High Slit Wrap Cami Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images/pi/201708/a2/15041482880286362586_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images/pi/201708/a2/15041482880286362586_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                  <p class="recommend-price">US$21.00</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                      <!---->
                    </div> (206)
                  </div>
                </div>
                <div class="swiper-slide j-recommend-item-531661" style="width: 204px; margin-right: 15px;">
                  <a href="/Plant-Print-Asymmetrical-Hem-Dress-p-531661-cat-1727.html" title="Plant Print Asymmetrical Hem Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images2_pi/2018/07/09/15311174973768463620_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/07/09/15311174973768463620_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                  <p class="recommend-price">US$14.00</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                      <!---->
                    </div> (6)
                  </div>
                </div>
                <div class="swiper-slide j-recommend-item-540285" style="width: 204px; margin-right: 15px;">
                  <a href="/Scallop-Trim-Fit-&amp;-Flare-Dress-p-540285-cat-1727.html" title="Scallop Trim Fit &amp; Flare Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images2_pi/2018/07/18/1531903846448282561_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/07/18/1531903846448282561_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                  <p class="recommend-price">US$17.00</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                      <!---->
                    </div> (4)
                  </div>
                </div>
                <div class="swiper-slide j-recommend-item-460356" style="width: 204px; margin-right: 15px;">
                  <a href="/Tassel-Hem-Tunic-Dress-p-460356-cat-1727.html" title="Tassel Hem Tunic Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images2_pi/2018/05/08/15257798812406886686_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/05/08/15257798812406886686_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                  <p class="recommend-price">US$11.00</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                      <!---->
                    </div> (87)
                  </div>
                </div>
                <div class="swiper-slide j-recommend-item-455628" style="width: 204px; margin-right: 15px;">
                  <a href="/Tribal-Print-Bardot-Dress-p-455628-cat-1727.html" title="Tribal Print Bardot Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images2_pi/2018/04/19/1524130543218455842_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/04/19/1524130543218455842_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                  <p class="recommend-price">US$11.00</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                      <!---->
                    </div> (53)
                  </div>
                </div>
                <div class="swiper-slide j-recommend-item-447655" style="width: 204px; margin-right: 15px;">
                  <a href="/Polka-Dot-Twist-Front-Knot-Back-Cami-Dress-p-447655-cat-1727.html" title="Polka Dot Twist Front Knot Back Cami Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images/pi/201803/b2/15217127870653288238_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images/pi/201803/b2/15217127870653288238_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                  <p class="recommend-price">US$15.00</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                      <!---->
                    </div> (78)
                  </div>
                </div>
                <div class="swiper-slide j-recommend-item-240615" style="width: 204px; margin-right: 15px;">
                  <a href="/Puff-Sleeve-Belt-Chiffon-Slim-Dress-p-240615-cat-1727.html" title="Puff Sleeve Dress With Belt"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.shein.com/images/201604/1461065147414014448.jpg" data-webp="//img.shein.com/images/201604/1461065147414014448.jpg" alt="" class="j-verlok-lazy" /></a>
                  <p class="recommend-price">US$20.00</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                      <!---->
                    </div> (503)
                  </div>
                </div>
                <div class="swiper-slide j-recommend-item-461950" style="width: 204px; margin-right: 15px;">
                  <a href="/Button-Up-Ribbed-Knit-Dress-p-461950-cat-1727.html" title="Button Up Ribbed Knit Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images2_pi/2018/04/26/15247205052612865585_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/04/26/15247205052612865585_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                  <p class="recommend-price">US$15.00</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                      <!---->
                    </div> (19)
                  </div>
                </div>
                <div class="swiper-slide j-recommend-item-471521" style="width: 204px; margin-right: 15px;">
                  <a href="/Laser-Cut-Sleeve-Swing-Dress-p-471521-cat-1727.html" title="Laser Cut Sleeve Swing Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images2_pi/2018/05/22/15269879713826834964_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/05/22/15269879713826834964_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                  <p class="recommend-price">US$8.00</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                      <!---->
                    </div> (4)
                  </div>
                </div>
                <div class="swiper-slide j-recommend-item-455538" style="width: 204px; margin-right: 15px;">
                  <a href="/Strappy-Back-Solid-Halter-Dress-p-455538-cat-1727.html" title="Strappy Back Solid Halter Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images2_pi/2018/04/25/1524635230998208058_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/04/25/1524635230998208058_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                  <p class="recommend-price">US$14.00</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                      <!---->
                    </div> (46)
                  </div>
                </div>
                <div class="swiper-slide j-recommend-item-529879" style="width: 204px; margin-right: 15px;">
                  <a href="/Notch-Collar-Double-Breasted-Surplice-Wrap-Dress-p-529879-cat-1727.html" title="Notch Collar Double Breasted Surplice Wrap Dress"><img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images2_pi/2018/07/20/15320698463615635869_thumbnail_405x552.jpg" data-webp="//img.ltwebstatic.com/images2_pi/2018/07/20/15320698463615635869_thumbnail_405x552.webp" alt="" class="j-verlok-lazy" /></a>
                  <p class="recommend-price">US$22.00</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      <span><i index="1" class="iconfont icon-star"></i><i index="2" class="iconfont icon-star"></i><i index="3" class="iconfont icon-star"></i><i index="4" class="iconfont icon-star"></i><i index="5" class="iconfont icon-star2"></i></span>
                      <!---->
                    </div> (6)
                  </div>
                </div>
              </div>
            </div>
            <div class="recommend-next swiper-button-next iconfont icon-right j-r-next"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-modal-wrap c-sg-ctn-modal" style="display: none;">
      <div class="she-mask"></div>
      <div class="c-modal">
        <div class="modal-dialog modal-full">
          <div class="modal-content" style="display: none;">
            <div class="modal-header">
              <i class="iconfont icon-close she-close"></i>
              <div class="modal-title">
                <div>
                  Size Chart
                </div>
              </div>
            </div>
            <div class="modal-body">
              <div class="c-goodsdc">
                <div class="sg-ctn j-sg-ctn">
                  <div class="sg-table-wrap">
                    <!---->
                    <div class="units-opt">
                      <div class="units-opt-radio">
                        <label class="she-radio fl"><input name="dt_relate_goods_unit" type="radio" checked="checked" /> <i></i></label> cm
                      </div>
                      <div class="units-opt-radio">
                        <label class="she-radio"><input name="dt_relate_goods_unit" type="radio" /> <i></i></label> Inch
                      </div>
                    </div>
                    <table cellspacing="0" cellpadding="0" class="sg-table j-cm-table" style="display: table;">
                      <!---->
                      <tbody>
                      <tr class="trhead">
                        <td> Size </td>
                        <td> S </td>
                        <td> M </td>
                        <td> L </td>
                      </tr>
                      <!---->
                      <tr class="cm-inch">
                        <td> Waist Size </td>
                        <td> 58 </td>
                        <td> 62 </td>
                        <td> 66 </td>
                      </tr>
                      <tr class="cm-inch">
                        <td> Hip Size </td>
                        <td> 74 </td>
                        <td> 78 </td>
                        <td> 82 </td>
                      </tr>
                      <tr class="cm-inch">
                        <td> Length </td>
                        <td> 90 </td>
                        <td> 91 </td>
                        <td> 92 </td>
                      </tr>
                      </tbody>
                    </table>
                    <table cellspacing="0" cellpadding="0" class="sg-table j-inch-table" style="display: none;">
                      <!---->
                      <tbody>
                      <tr class="trhead">
                        <td> Size </td>
                        <td> S </td>
                        <td> M </td>
                        <td> L </td>
                      </tr>
                      <!---->
                      <tr class="cm-inch">
                        <td> Waist Size </td>
                        <td> 23.0 </td>
                        <td> 24.5 </td>
                        <td> 26.0 </td>
                      </tr>
                      <tr class="cm-inch">
                        <td> Hip Size </td>
                        <td> 29.0 </td>
                        <td> 30.75 </td>
                        <td> 32.5 </td>
                      </tr>
                      <tr class="cm-inch">
                        <td> Length </td>
                        <td> 35.5 </td>
                        <td> 36.0 </td>
                        <td> 36.0 </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <p class="sg-tip"></p>
                  <p><span></span></p>
                  <div class="measure-guide">
                    <h5>How to measure</h5>
                    <p>This size chart is for reference purposes only. Note that sizing will vary between brands.</p>
                  </div>
                  <div class="measure-pic">
                    <div class="measure-pic0">
                      <img src="//sheinsz.ltwebstatic.com/she_dist/images/bg-grey.png" data-src="//img.ltwebstatic.com/images2_pi/2018/05/24/1527149775178473037.png" data-webp="//img.ltwebstatic.com/images2_pi/2018/05/24/1527149775178473037.png" class="j-verlok-lazy" />
                    </div>
                    <div class="measure-pic-guide">
                      <div class="measure-wrap">
                        <h6><span>1</span>Bust</h6>
                        <p>Measure under your arms around the fullest part of your bust. Make sure to keep the tape level!</p>
                      </div>
                      <div class="measure-wrap">
                        <h6><span>2</span>Waist</h6>
                        <p>Make sure the measuring tape fits comfortably as you measure around the narrowest part of your natural waist.</p>
                      </div>
                      <div class="measure-wrap">
                        <h6><span>3</span>Hips</h6>
                        <p>Stand with your feet together, and measure around the widest part of your hips.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-modal-wrap" style="display: none;">
      <div class="she-mask"></div>
      <div class="c-modal">
        <div class="modal-dialog vertical-center modal-lg modal-relative-height">
          <div class="modal-content" style="display: none;">
            <div class="modal-header">
              <span></span>
              <div class="modal-title">
                <span></span>
              </div>
            </div>
            <div class="modal-body">
              <div class="c-review-swiper swiper-container j-review-img-swiper swiper-container-horizontal" style="cursor: -webkit-grab;">
                <div class="img-review-prev j-img-review-prev swiper-button-prev iconfont icon-left swiper-button-disabled" style="display: none;"></div>
                <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                  <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;//img.shein.com/images2/2018/07/31/15330017153282642610.jpg&quot;); width: 600px;"></div>
                </div>
                <div class="img-review-next j-img-review-next swiper-button-next iconfont icon-right swiper-button-disabled" style="display: none;"></div>
              </div>
            </div>
            <div class="modal-footer">
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div event-category="详情页">
      <div class="c-modal-wrap" style="display: none;">
        <div class="she-mask"></div>
        <div class="c-modal">
          <div class="modal-dialog c-quickv modal-xlg">
            <div class="modal-content" style="display: none;">
              <div class="modal-header">
                <i class="iconfont icon-close she-close"></i>
                <div class="modal-title"></div>
              </div>
              <div class="modal-body">
                <div class="row c-goodsdc goodsdc-qv j-goodsdc-qv">
                  <!---->
                  <div class="goodsd-left col-sm-7">
                    <div class="img-ctn">
                      <div class="img-thumbs">
                        <!---->
                      </div>
                      <div class="img-top swiper-container j-quickv">
                        <div class="img-top-prev j-quickv-prev swiper-button-prev iconfont icon-left"></div>
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <!---->
                          </div>
                          <!---->
                        </div>
                        <div class="img-top-next j-quickv-next swiper-button-next iconfont icon-right"></div>
                      </div>
                    </div>
                  </div>
                  <!---->
                </div>
                <!---->
              </div>
              <div class="modal-footer">
                <div slot="footer">
                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="c-modal-wrap c-sg-ctn-modal" style="display: none;">
        <div class="she-mask"></div>
        <div class="c-modal">
          <div class="modal-dialog vertical-center modal-full">
            <div class="modal-content" style="display: none;">
              <div class="modal-header">
                <i class="iconfont icon-close she-close"></i>
                <div class="modal-title">
                  <div slot="title">
                    size guide
                  </div>
                </div>
              </div>
              <div class="modal-body">
                <div class="c-goodsdc">
                  <div class="sg-ctn j-sg-ctn">
                    <table cellspacing="0" cellpadding="0" class="sg-table sg-table-shoe">
                      <tbody>
                      <tr class="trhead">
                        <td>Length&nbsp;(cm)</td>
                        <td>22.5</td>
                        <td>22.8</td>
                        <td>23.1</td>
                        <td>23.5</td>
                        <td>23.8</td>
                        <td>24.1</td>
                        <td>24.5</td>
                        <td>24.8</td>
                        <td>25.1</td>
                        <td>25.4</td>
                        <td>25.7</td>
                        <td>26</td>
                        <td>26.3</td>
                      </tr>
                      <tr class="trhead">
                        <td>Length&nbsp;(Inch)</td>
                        <td>8.9</td>
                        <td>9.0</td>
                        <td>9.1</td>
                        <td>9.3</td>
                        <td>9.4</td>
                        <td>9.5</td>
                        <td>9.6</td>
                        <td>9.8</td>
                        <td>9.9</td>
                        <td>10.0</td>
                        <td>10.1</td>
                        <td>10.2</td>
                        <td>10.3</td>
                      </tr>
                      <tr class="cm-inch">
                        <td>US</td>
                        <td>4.5</td>
                        <td>5</td>
                        <td>5.5</td>
                        <td>6</td>
                        <td>6.5</td>
                        <td>7</td>
                        <td>7.5</td>
                        <td>8</td>
                        <td>8.5</td>
                        <td>9</td>
                        <td colspan="2" class="j-sgcol2">10</td>
                        <td class="j-sgcolplus j-sgcol-noplus">11</td>
                      </tr>
                      <tr class="cm-inch">
                        <td>UK</td>
                        <td>2.5</td>
                        <td>3</td>
                        <td>3.5</td>
                        <td>4</td>
                        <td>4.5</td>
                        <td>5</td>
                        <td>5.5</td>
                        <td>6</td>
                        <td>6.5</td>
                        <td>7</td>
                        <td>7.5</td>
                        <td class="j-sgcol-2">8</td>
                        <td>8.5</td>
                      </tr>
                      <tr class="cm-inch">
                        <td>EU</td>
                        <td>35</td>
                        <td>36</td>
                        <td>36.5</td>
                        <td>37</td>
                        <td>37.5</td>
                        <td>38</td>
                        <td>38.5</td>
                        <td>39</td>
                        <td>39.5</td>
                        <td>40</td>
                        <td colspan="2" class="j-sgcol2">40.5&nbsp;-&nbsp;41</td>
                        <td class="j-sgcolplus">42</td>
                      </tr>
                      </tbody>
                    </table>
                    <!---->
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div slot="footer"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="c-modal-wrap" style="display: none;">
        <div class="she-mask"></div>
        <div class="c-modal">
          <div class="modal-dialog vertical-center modal-full">
            <div class="modal-content" style="display: none;">
              <div class="modal-header">
                <i class="iconfont icon-close she-close"></i>
                <div class="modal-title">
                  <span slot="title"></span>
                </div>
              </div>
              <div class="modal-body">
                <div></div>
              </div>
              <div class="modal-footer">
                <span slot="footer"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="qView-imgloading" style="display: none;"></div>
    </div>
    <div class="c-modal-wrap c-login" style="display: none;">
      <div class="she-mask"></div>
      <div class="c-modal">
        <div class="modal-dialog vertical-center modal-relative-width-m">
          <div class="modal-content" style="display: none;">
            <div class="modal-header">
              <i class="iconfont icon-close she-close"></i>
              <div class="modal-title">
                <div></div>
              </div>
            </div>
            <div class="modal-body">
              <div>
                <div data-login-source="other" class="j-login-con col-xs-4 col-xs-offset-1">
                  <div class="sign-in j-sign-in">
                    <h4>Sign In</h4>
                    <p class="login-error"></p>
                    <form>
                      <div class="c-input">
                        <div class="input-title">
                          Email Address:
                          <i class="input-error-txt" style="display: none;">*</i>
                        </div>
                        <input placeholder="" type="email" name="email" class="" />
                        <ul class="emaillist" style="display: none;"></ul>
                        <!---->
                      </div>
                      <div class="c-input">
                        <div class="input-title">
                          Password:
                          <i class="input-error-txt" style="display: none;">*</i>
                        </div>
                        <input placeholder="" type="password" name="password" class="" />
                        <!---->
                        <!---->
                      </div>
                    </form>
                    <div data-sitekey="6LcoBR4UAAAAAIi5xU3U_q37C3nFaSckeMaT-P5j" data-callback="shein_verified_callback" data-expired-callback="shein_expired_callback" class="g-recaptcha" style="display: none;"></div>
                    <p class="g-recaptcha-error" style="display: none;">Verification has failed. Please try again.</p>
                    <button class="she-btn-black she-btn-l she-btn-block">Sign In</button>
                    <button disabled="disabled" class="she-btn-black she-btn-l she-btn-block" style="display: none;">
                      <div class="la-ball-pulse la-ball-pulse-white">
                        <div></div>
                        <div></div>
                        <div></div>
                      </div></button>
                    <div class="forgot-psd">
                      <a href="javascript:;" class="j-a-forgot-psd">Forgot your password?</a>
                    </div>
                    <div class="sign-in-divide">
                      <span>Or</span>
                    </div>
                    <button class="she-btn-google-red she-btn-l she-btn-block j-btn-google" style="text-transform: capitalize;"><i class="iconfont icon-google"></i> Sign in With Google
                      <!----></button>
                    <div class="sign-in-divide">
                      <span>Or</span>
                    </div>
                    <!---->
                    <button class="she-btn-blue she-btn-l she-btn-block j-btn-facebook" style="text-transform: capitalize;"><i class="iconfont icon-facebook"></i> Sign in With Facebook
                      <!----></button>
                    <!---->
                    <div class="sign-in-discountinfo">
                      <p><strong>US$3 off</strong> for the first order</p>
                      <p>Review &amp; earn extra <strong>100</strong> points</p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-1 sign-in-rightborder"></div>
                <div class="col-xs-offset-1 col-xs-4">
                  <div class="sign-in j-newto-shein">
                    <h4>New to SheIn</h4>
                    <form>
                      <div class="c-input">
                        <div class="input-title">
                          Email Address:
                          <i class="input-error-txt" style="display: none;">*</i>
                        </div>
                        <input placeholder="" type="email" name="email" class="" />
                        <ul class="emaillist" style="display: none;"></ul>
                        <!---->
                      </div>
                      <div class="c-input">
                        <div class="input-title">
                          Password:
                          <i class="input-error-txt" style="display: none;">*</i>
                        </div>
                        <input placeholder="" type="password" name="password" class="" />
                        <!---->
                        <!---->
                      </div>
                      <div class="normal-info">
                        <div class="">
                          <p class="">&middot; 8 characters minimum</p>
                          <p class="">&middot; At least one letter</p>
                          <p class="">&middot; At least one number</p>
                        </div>
                      </div>
                      <div class="c-input input-mar">
                        <div class="input-title">
                          Confirm Password:
                          <i class="input-error-txt" style="display: none;">*</i>
                        </div>
                        <input placeholder="" type="password" name="cfPassword" class="" />
                        <!---->
                        <!---->
                      </div>
                      <div class="c-input">
                        <div class="input-title">
                          Style Preference
                        </div>
                        <div class="plus-info">
                          <div class="prefer-item">
                            <label class="she-checkbox"><input type="checkbox" name="1" value="Plus Size" /> <i></i></label> Plus Size
                          </div>
                          <div class="prefer-item">
                            <label class="she-checkbox"><input type="checkbox" name="2" value="Women Clothing" /> <i></i></label> Women Clothing
                          </div>
                          <div class="prefer-item">
                            <label class="she-checkbox"><input type="checkbox" name="3" value="Bags &amp; Shoes" /> <i></i></label> Bags &amp; Shoes
                          </div>
                          <div class="prefer-item">
                            <label class="she-checkbox"><input type="checkbox" name="4" value="Home" /> <i></i></label> Home
                          </div>
                        </div>
                      </div>
                      <!---->
                      <!---->
                    </form>
                    <button class="she-btn-black she-btn-l she-btn-block">Register</button>
                    <button disabled="disabled" class="she-btn-black she-btn-l she-btn-block" style="display: none;">
                      <div class="la-ball-pulse la-ball-pulse-white">
                        <div></div>
                        <div></div>
                        <div></div>
                      </div></button>
                    <div class="reg-why">
                      <a target="_blank" href="/Why-Register-a-369.html"> Why Register? </a>(
                      <span>Get <em>US$3 off</em> coupon and </span>
                      <a target="_blank" href="/Why-Register-a-369.html"><em>more</em></a>)
                    </div>
                  </div>
                </div>
                <div class="c-modal-wrap" style="display: none;">
                  <div class="she-mask"></div>
                  <div class="c-modal">
                    <div class="modal-dialog vertical-center">
                      <div class="modal-content" style="display: none;">
                        <div class="modal-header">
                          <i class="iconfont icon-close she-close"></i>
                          <div class="modal-title">
                            <div slot="title">
                              <h2>MAILBOX BINDING</h2>
                              <p class="bind-mailbox">Your account needs an email binding</p>
                            </div>
                          </div>
                        </div>
                        <div class="modal-body">
                          <div class="c-input">
                            <div class="c-input">
                              <!---->
                              <input placeholder="" type="email" name="" class="" />
                              <ul class="emaillist" style="display: none;"></ul>
                              <!---->
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <div class="modal-btn">
                            <!---->
                            <button class="she-btn-black">Submit</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!---->
              </div>
            </div>
            <div class="modal-footer">
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    jQuery(document).ready(function($) {
        $('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

        $('.quantity-input-wrapper').click(function(e) {
            e.preventDefault();
            var price = $('#price').text();
            var price_x = $('#price_x').text();
            if( $(this).hasClass('quantity-up')) {
                $('#input-quantity').val( parseInt($('#input-quantity').val()) + 1 );
                $('#price_x').text(price_x + price);
            } else {
                if( parseInt($('#input-quantity').val())  > {{ minimum }} ) {
                    $('#input-quantity').val( parseInt($('#input-quantity').val()) - 1 );
                }
        var price = $('#price').text().trim();
        var symbol = price.substring(0,1);
        var price_single = parseFloat(price.substr(1));

    $('.quantity-input-wrapper').click(function(e) {
        e.preventDefault();
        var price_x = parseFloat($('#price_x').text().trim().substr(1));

        if( $(this).hasClass('quantity-up')) {
            $('#input-quantity').val( parseInt($('#input-quantity').val()) + 1 );
            var total = (price_x + price_single).toFixed(2);
            price_x =symbol + total;
            $('#price_x').html(price_x);

        } else {
            if( parseInt($('#input-quantity').val())  > 1 ) {
                $('#input-quantity').val( parseInt($('#input-quantity').val()) - 1 );
                var total = (price_x - price_single).toFixed(2);
                price_x =symbol + total;
                $('#price_x').html(price_x);
            }
        });
        $('#elevate-zoom').elevateZoom({
            lensShape: 'basic',
            lensSize: 150,
            zoomWindowOffetx: 10,
            zoomWindowWidth: 350,
            zoomWindowHeight: 350,
            borderSize: 1,
            borderColour: '#eaeaea',
            gallery: 'product-thumbnail-gallery',
            galleryActiveClass: 'active',
            cursor:'pointer',
        });
        $('#button-cart').productInfoToCart({
            data: [
                '#product input[type=\'text\']',
                '#product input[type=\'hidden\']',
                '#product input[type=\'radio\']:checked',
                '#product input[type=\'checkbox\']:checked',
                '#product select, #product textarea'
            ],
        });
    });
    $('.desc-title').click(function (){
        var id = this.id;
        $(".desc-title-ctn").attr("class","desc-title-ctn j-desc-title-ctn desc-title-"+id);
        $('.desc-title').attr("class","desc-title j-desc-title");
        $('#'+id).attr("class","desc-title j-desc-title desc-title-active");
        $('.j-desc-con').removeClass("desc-wrap-default");
        $('.'+id).addClass("desc-wrap-default");
    });
</script>
{{ footer }}
