{% if views %}
<div class="j-dt-recommend1">
  <div id="category_recommend_products_list_1">
    <div brand="emarsys" data-ref="recomend1" class="goodsd-module j-goodsd-module-r j-r-1" ga_type="customers_also_viewed" viewed="true">
      <h2 class="goodsd-module-h">Customers Also Viewed</h2>
      <div class="c-recommend-goodsd ss">
        <div class="recommend-con">
          <div class="recommend-prev swiper-button-prev iconfont icon-left j-r-prev" id="viewPrev"></div>
          <div class="swiper-container swiper-container-horizontal j-r-swiper">
            <div class="swiper-wrapper" id="viewSwiper">

              {% for view in views %}
                <div class="swiper-slide j-recommend-item-493940 swiper-slide-active" style="width: 204px; margin-right: 15px;">
                  <a href="index.php?route=product/product&path=20_26&product_id={{ view.product_id }}">
                    <img src="/image/{{ view.image }}"alt="" class="j-verlok-lazy loaded"/>
                  </a>
                  <p class="recommend-price">{{ view.price }}</p>
                  <div class="recommend-rank">
                    <div class="c-star">
                      {#总评分#}
                      <div class="rating">
                          {% for i in 1..5 %}
                            <span class="fa fa-stack" style="margin-top: -8px"><i class="fa fa-star fa-stack-1x {{ view.ratingTotol < i ? 'off' }}"></i></span>
                          {% endfor %}
                      </div>
                      {#评价总数#}
                    </div> ({{ view.reviewsTotol }})
                  </div>
                </div>
              {% endfor %}


            </div>
          </div>
          <div class="recommend-next swiper-button-next iconfont icon-right j-r-next" id="viewNext"></div>
            <input type="hidden" id="num" value="1">
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<script>
    $(function () {
        var size = {{ size }};
        if($('#num').val() == 1){
            $('#viewPrev').addClass("swiper-button-disabled");
        }
        if(size <= 5){
            $('#viewNext').addClass("swiper-button-disabled");
        }
    });
    $('#viewPrev').click(function () {

        var num = $('#num').val();
        console.log(num);
        num--;
        $('#viewSwiper').css('left',"-"+((num - 1) * 101.4)+"%");
        $('#num').val(num);
        $('#viewNext').removeClass("swiper-button-disabled");
        if(num == 1){
            $('#viewPrev').addClass('swiper-button-disabled');
        }
    });
    $('#viewNext').click(function () {
        var size = {{ size }};
        var num = $('#num').val();
        $('#viewSwiper').css('left',"-"+(num * 101.4)+"%");
        num++;
        $('#num').val(num);
        $('#viewPrev').removeClass("swiper-button-disabled");
        if (size/5 <= num){
            $('#viewNext').addClass("swiper-button-disabled");
        }
    });
</script>















